[2014-08-04 14:56] TNWolf opened #1 "Stop Layers"
Stop Layers not currently working (https://github.com/CUTR-at-USF/usf-mobullity/tree/mobullityrebase/src/client/js/otp/layers)
due to 500 internal server error with otp/routers/default/transit/stopsInRectangle

[2014-08-04 14:56] TNWolf opened #2 "Bus Position Layer"
Bus Position Layer not currently working because not sure how to get to my vehicle positions API.. (used to be otp-rest-servlet/ws/vehicle_positions as seen here http://mobullity.forest.usf.edu/otp-rest-servlet/ws/vehicle_positions)

[2014-08-04 14:56] TNWolf opened #3 "Geocoder"
Geocoder with addresses and manual buildings not working (currently geocoder otp.core.GeocoderBuiltin does bus stops should be useing otp.core.Geocoder instead)

[2014-08-04 14:56] TNWolf opened #4 "500 Internal Server Errors"
When page is loaded random 500 internal server errors with otp/routers/transit/agencyIds and otp/routers/transit/routes

[2014-08-05 12:31] jmfield2 commented on #2
This is from

https://github.com/CUTR-at-USF/usf-mobullity/blob/usf-GTFSrt/otp-core/src/main/java/org/opentripplanner/api/ws/VehiclePositionsList.java

right?

[2014-08-05 13:45] barbeau opened #5 "Map centers on downtown Tampa when using hard-wired USF PC and Chrome/Firefox"
For real-time location in MoBullity, we’re using Leaflet for the web app, and its locate() method:
http://leafletjs.com/reference.html#map-locate

This in turns uses the W3C Geolocation API:
https://en.wikipedia.org/wiki/W3C_Geolocation_API

If you visit the site from a wired USF PC (e.g., hardwired here at CUTR, or in ENB, and I suspect other locations at USF) in Chrome or Firefox, the browser ge

[2014-08-05 13:56] TNWolf commented on #2
Yes. That is where the file was before the rebase.
On Aug 5, 2014 8:31 AM, "jmfield2" notifications@github.com wrote:

[2014-08-06 22:38] jmfield2 commented on #2
The following patch appears to fix this issue.  I can commit it first if it's easier to test, but basically the issue seems to have just been missing the VehiclePositions.class in the standalone/OTPApplication.java (assuming you don't have it running in tomcat...if so, probably won't help), from there the otp.config.restService is defined as otp/routers/default/ which is fine for some other stuff,

[2014-08-07 02:37] jmfield2 commented on #5
I think this patch will fix this.

[code]

[2014-08-07 02:55] barbeau commented on #5
Thanks @jmfield2!  Could you put this and the other patch into pull
requests?  Its makes it easier to review and comment on specific lines.
On Aug 6, 2014 10:37 PM, "jmfield2" notifications@github.com wrote:

[2014-08-07 17:00] TNWolf commented on #5
I applied this patch. However now it appears to always show the location as
the default location instead of my current location even when I have
location services allowed.

On Wed, Aug 6, 2014 at 10:37 PM, jmfield2 notifications@github.com wrote:

[2014-08-07 17:18] jmfield2 commented on #5
Hmm .. Maybe I flipped a sign in one of the boundary checks or a precision
issue.. Can you try to log your position e.latlng in the on location
changed before it defaults?
 On Aug 7, 2014 1:00 PM, "TNWolf" notifications@github.com wrote:

[2014-08-07 17:50] TNWolf commented on #5
Actually just realized, are the bounds set for USF?

I'm not on campus so I guess I would be outside the bounds so it would
resort to the default location.. If that's the case this fix might be an
issue for people planning a trip from their apt/house to campus.

On Thu, Aug 7, 2014 at 1:18 PM, jmfield2 notifications@github.com wrote:

[2014-08-07 17:53] jmfield2 commented on #5
They are set for USF so that's the probably why.. Good idea re: people
planning trips to campus...
 On Aug 7, 2014 1:50 PM, "TNWolf" notifications@github.com wrote:

[2014-08-07 18:34] barbeau commented on #5
Maybe a better way to handle this issue is to check if the real-time location is equal to the erroneous default "downtown" location, then recenter on USF.  This wouldn't interfere with people planning trips from off-campus locations to USF.

[2014-08-07 18:38] barbeau commented on #5
Here's another screenshot of the erroneous default downtown location, zoomed in closer and without the warning box:
![image](https://cloud.githubusercontent.com/assets/928045/3847026/de7e6122-1e61-11e4-80e7-17a9048b017a.png)

I don't have mobullity app set up on my machine to debug, but if there is another way to grab the exact lat/long from the browser let me know.

[2014-08-08 12:14] jmfield2 commented on #5
I noticed that I have the same issue on my desktop @ home -- but instead of Tampa, it is centered on Clearwater.  I think this is happening because navigator.geolocation can't get an accurate location (especially non-wifi) and finds the closest city center instead.  The location object returns an accuracy of 22,000 meters to represent this in my testing.

So, we can check for e.accuracy, and then

[2014-08-08 13:29] barbeau commented on #5
@jmfield2 Agreed, it seems that navigator.geolocation on Firefox and Chome can't provide decent accuracy on wired connections.

The check for accuracy is probably a good solution - always center on USF campus if the accuracy is above a certain threshold.  This zoom level is probably ideal for a default:

![image](https://cloud.githubusercontent.com/assets/928045/3857031/405b60aa-1eff-11e4-8670-db5

[2014-08-08 18:48] barbeau commented on #4
Related to new Transit Index, which is located at:
https://github.com/opentripplanner/OpenTripPlanner/blob/master/src/main/java/org/opentripplanner/index/IndexAPI.java

Here's the commit that added support for querying multiple versions of the OTP REST API (including transit index) to our OTP Android app:
https://github.com/CUTR-at-USF/OpenTripPlanner-for-Android/blob/master/opentripplanner-androi

[2014-08-08 18:50] barbeau commented on #4
I think this is the exact line of code that fetches data from the new transit index API:
https://github.com/CUTR-at-USF/OpenTripPlanner-for-Android/blob/master/opentripplanner-android/src/main/java/edu/usf/cutr/opentripplanner/android/tasks/ServerChecker.java#L155

[2014-08-08 18:51] barbeau commented on #1
See #4 - also related to new transit index API location

[2014-08-08 19:09] TNWolf commented on #2
Issue fixed with that patch.

[2014-08-08 19:09] #2 closed, assigned to nobody

[2014-08-12 16:10] luqmaan commented on #5
Just in case you don't already know this (I don't see it in the code), try setting `enableHighAccuracy` to `true`. http://leafletjs.com/reference.html#map-locate-options.

Having a fallback location is a good idea too, tho.

[2014-08-12 17:20] barbeau commented on #5
Thanks @luqmaan, that's definitely a good suggestion.  I know we had talked about this previously, and I believe that is already set somewhere.

@TNWolf Could you please take another look and make sure `enableHighAccuracy` is set to `true`?

[2014-08-12 18:27] TNWolf commented on #4
Updated two functions in the TransitIndex.js file in order to fix these specific errors (more need to be fixed).

[code]

[2014-08-15 16:57] TNWolf opened #10 "Functionallity of TransitIndex.js in mobullityrebase"
Problems with API calls in TransitIndex.js (https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/core/TransitIndex.js)

which references IndexAPI.java (https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/main/java/org/opentripplanner/index/IndexAPI.java).

Need to fix these functions:
-loadVariants
-readVariantForTrip
-runStopTimesQuery
-loadStopsBy

[2014-08-15 16:57] #4 closed, assigned to nobody

[2014-08-15 17:01] TNWolf commented on #5
I think the merge on the recent fix has effected the initial zoom level. When I load the map it's all the way zoomed out. I believe it was previously set to the zoom level that had the map showing the name of the buildings around them, since the names of the buildings don't show up unless someone is zoomed in enough.

[2014-08-19 15:18] jmfield2 commented on #5
In working on tracking down the regression caused by this fix, I discovered a couple of things.

The simple fix is to change:
https://github.com/jmfield2/usf-mobullity/blob/c1003ed71e0ccf19a465116ffdf2a9b90323d053/src/client/js/otp/core/Map.js#L128

15 (back) to 17 here, the regression should be fixed... but it doesn't seem to always work for me.

So, I dug a little more and I think it's a race co

[2014-08-19 17:21] barbeau commented on #5
@jmfield2 Has the Leaflet interface changed substantially from 0.5.1 to 0.7.3?  It would be nice if we could bring our Leaflet client to up date, since I'm sure there are other issues lurking in the old version.

[2014-08-19 17:27] jmfield2 commented on #5
I tried to manually patch the issue described from their Github and really
didn't get too far ... So I think it has changed a fair amount but I can
check on it more .. Maybe create a new local branch and issue for upgrading?
On Aug 19, 2014 1:21 PM, "Sean Barbeau" notifications@github.com wrote:

[2014-08-19 17:40] barbeau commented on #5
@jmfield2 Sounds good to me.  If it ends up being a deep rabbit hole we can just looking at patching it with a workaround.

[2014-08-22 17:47] TNWolf commented on #3
Now when anything is typed into the start/end boxes this error occurs:

[2014-09-04 18:48] #1 closed, assigned to nobody

[2014-10-09 18:33] TNWolf commented on #3
Issue is fixed by running geocoder in a standalone server on port 80 and referencing it from the otp grizzly server on port 8080.

[2014-10-09 18:33] #3 closed, assigned to nobody

[2014-10-09 18:37] TNWolf opened #14 "Issue with Trip Planning Legs"
When planning a trip, gaps appear between steps on the map with the legs that show the user what path to take.

![screenshot 2014-10-08 12 37 46](https://cloud.githubusercontent.com/assets/5204472/4581841/6385bade-4fe3-11e4-9505-055b112ab00f.png)

[2014-10-09 22:57] jmfield2 commented on #14
I think PR #13 may fix this -- related to internal bus/bike stop linking code

[2014-10-15 16:16] TNWolf commented on #14
Still having a similar issue after pull request #13 was merged.

[2014-10-15 16:22] TNWolf commented on #5
I just ran this test again on my laptop with wifi disabled. Currently on campus in the ENB building using a hard wired connection and got a result of zoomed out Tampa and no current location icon was set. The output to the console was "Accuracy beyond threshold; recentering on USF. " which is correct.

I will start looking into this some more.

![screenshot 2014-10-15 12 19 23](https://cloud.githu

[2014-10-16 16:38] TNWolf commented on #5
Everything appears to be working fine on wired connection. Closing issue.

[2014-10-16 16:38] #5 closed, assigned to nobody

[2015-01-09 12:52] jmfield2 opened #17 "Test & Merge frequency-rt-5 branch into mobullityrebase"
Note because our mobullityrebase branch has much work itself beyond upstream OTP, an automatic PR didn't seem to be possible ...

[2015-01-09 12:53] jmfield2 opened #18 "Stop Times"
Follow work upstream on stop times from:
https://github.com/opentripplanner/OpenTripPlanner/issues/1680

to help improve (hopefully) the way our times are reported

[2015-01-09 12:54] jmfield2 opened #19 "Mobullity VPS security"
Make Tomcat not allow remote management (via RemoteAddrValue) in context.xml (done)
- optionally inspect and remove unneeded services so that ideally the only ports open even locally are those of our java-based services ... even though the majority of the ports are already firewalled to the outside world AFAIK

[2015-01-09 12:58] jmfield2 opened #20 "Mobullity Automated Deployment"
Investigate automated deployment of mobullity projects on the VPS using any of the many automatic config/deployment tools available like:
- chef, puppet, ansible, salt, travis, jenkins

In my opinion, I prefer saltstack over the other automated server mgmt tools mainly because it uses python.  Ansible seems OK, but I think the customizability of salt is higher.

Travis appears to not support Windo

[2015-01-09 12:59] jmfield2 opened #21 "Upstream Transit Index API"
There has been some work lately on these endpoints ... some of which I think we may benefit from (like those dealing with bus geometry) and it would probably be good to look @ and merge in

[2015-01-09 13:01] jmfield2 opened #22 "Mobile responsiveness of client"
Investigate speed/lag issues of mobullity on mobile devices and determine if speedups can be made to i.e: the ajax calls currently in use and whether they really need to be updated upon refresh, or if the underlying tile layer itself is suspect.

[2015-01-09 13:04] jmfield2 opened #23 "GTFS Bundle, and GTFS updaters"
Merge and test the updated bundle from bullrunner-gtfs-realtime-generator,
and update/test the Graph.properties to include the new refresh times as follows:

[code]

[2015-01-09 14:40] barbeau commented on #22
From earlier testing/discussion it seems like the bus stops layer is the main culprit here.  If you zoom out to the level at which the stops aren't displayed, then things are very responsive on mobile.  But, when zooming in, currently all Bull Runner stops and HART stops are visible (at least in the most recent version I've seen).

It seems like the best first step to tackle this is to turn all st

[2015-02-11 19:54] barbeau opened #25 "Test accessibility via screen reader"
One item that we definitely need to do is test the accessibility of the site via a screen reader.  Blind/low vision users should at least be able to access the trip planner, input/select and origin/destination, and read an intererary.

@jmfield2 I can connect you to other at USF that can help with the evaluation.  Please ping me when you're ready to get some feedback.

[2015-02-13 06:04] jmfield2 opened #26 "GTFS Bullrunner and HART updates"
These should be checked and updated against the upstream version periodically.

Currently: (via calendar.txt)

Bullrunner GTFS will work until at least 12/31/2020

HART until: 03/28/2015

[2015-03-10 19:52] barbeau opened #27 "Change font for Layers box and MoBullity title"
The current font for MoBullity title and Layers box looks like a stencil and IMHO is not very readable:

![image](https://cloud.githubusercontent.com/assets/928045/6583825/28869c42-c73d-11e4-895e-1e13ab1e12ab.png)

@jmfield2 Could you please look at changing this font to something a bit more traditional?  Sans serif, from my understanding, is generally easier to read/understand.

[2015-03-11 16:13] barbeau opened #28 "Add "avoid stairs" trip option back into UI"
I think this option, formerly called "wheelchair accessible", was removed by default a while back in the main OTP Leaflet UI, and we never added it back in.

See the old OTP UI for an example:
http://opentripplanner.usf.edu/

I believe this is simply turned on with “&wheelchair=true” parameter.  I think "avoid stairs" is probably the best user-facing description for this, since it primarily does t

[2015-03-13 03:15] jmfield2 commented on #27
Hm. I see that the font-family is still stencil for the layer information like the mobullity header ... but it looks different on my end:

![image](https://cloud.githubusercontent.com/assets/3628509/6632476/467ace90-c90d-11e4-87c9-9d04b08c0f06.png)

[2015-03-13 03:28] barbeau commented on #27
My screenshot was from Chrome.  IIRC the different browsers have different
font sets, and they default to others if the specified font isn't included.
On Mar 12, 2015 11:15 PM, "jmfield2" notifications@github.com wrote:

[2015-04-03 02:39] jmfield2 commented on #28
This is fixed on mobullity now. Adding a test case to ensure it stays on the trip planning form

[2015-04-03 02:39] #28 closed, assigned to nobody

[2015-05-02 03:39] jmfield2 opened #29 "OSM Data Issues"
This issue is for on-going issues related to OSM data.

Fixed today:
Remove one-way tag for way near Laurel Garage that doesn't seem to be one-way at all and which Google considers two-ways.  http://www.openstreetmap.org/changeset/30691603

[2015-05-14 03:46] jmfield2 commented on #29
Remove one-way for entrance to Greek Housing: http://www.openstreetmap.org/changeset/30924810

[2015-05-22 00:04] jmfield2 opened #30 "Investigate new Bollard code"
https://github.com/opentripplanner/OpenTripPlanner/issues/1914#issuecomment-104342474

For Cars, Bicycles, and possibly golf carts

[2015-06-26 20:05] jailby opened #32 "Pedestrian area not connected"
### Problem:

A pedestrian area corner not connected with a way in Mobullity.
However, it is actually connected in OSM.

Example of the trip:
http://mobullity.forest.usf.edu/index.html?module=planner&fromPlace=28.060865862609578%2C-82.41122871637344&toPlace=28.060619703586344%2C-82.4114191532135&time=3%3A59pm&date=06-26-2015&mode=TRANSIT%2CWALK&maxWalkDistance=1609.34&wheelchair=false&arriveBy=fal

[2015-07-02 14:20] barbeau opened #33 "Show one route on map on start-up"
Something I keep meaning to mention in our meetings but keep forgetting - I think it would be useful to show one route (Route A?) on on the map with the vehicle locations on start-up, just to give users an idea of how it works.  Then they can check/uncheck routes as desired.

[2015-07-09 03:19] jmfield2 opened #34 "Link to itinerary broken"
Looks like the 'link to itinerary' link isn't working.  I assume the link given from 'email' also doesn't work.  Perhaps the upstream fixes will address this too, but currently on mobullity clicking the link on an itinerary  (http://mobullity.forest.usf.edu/index.html?module=planner&fromPlace=28.059265818881414%2C-82.41562485694884&toPlace=28.060004303561783%2C-82.41400480270386&time=11%3A12pm&dat

[2015-07-10 03:15] jmfield2 commented on #34
Looks like this is due to 'undefined' parameters being encoded into the query string. Pushing a fix soon

[2015-07-10 03:27] jmfield2 commented on #27
I believe this is fixed, can someone else check it?

[2015-07-10 13:18] barbeau commented on #27
This is what I currently see on Chrome on Windows:

![image](https://cloud.githubusercontent.com/assets/928045/8619376/aa3035da-26e4-11e5-9f34-40cc9870056c.png)

[2015-07-15 18:02] jailby opened #35 "Better management of pop-up windows"
The fact to have a pop-up for the itineraries generate usability issues. For example, when clicking on the button "Layer" or "Trip Planner" their respective box appear under the pop up and the user doesn't know about that. The user need to close or reduce the itineraries pop-up to notice the box he/she opened.

Change the pop-up for itineraries to a different box would enhance the usability of the

[2015-07-15 19:22] barbeau commented on #35
I agree that this could be improved.  The biggest consideration for me, though, is how this looks/works on mobile as well as desktop.

@jmfield2 Any ideas for improvement here, considering the implementation constraints we have?

[2015-07-15 19:24] jmfield2 commented on #35
It seems like the quick/dirty solution to this would be to make sure attempting to activate a different window isn't blocked by another window.

Perhaps minimizing all other windows first -- though this might become annoying too.

or, simply bringing the requested window above any others?

[2015-07-15 19:42] barbeau commented on #35
Bringing requested window to front would probably be ok - although this means to get back to the map you need to manually minimize all windows.  I'd be curious to see what the interaction looks like when always minimizing all other windows first, if there is some kind of flicker effect.

[2015-07-17 04:22] jmfield2 opened #36 "Enhanced bike rental hub marker"
As shown from the Coast bikeshare, it would be nice to add the hub bounding box (and perhaps other style enhancements) given by the SoBi API to the Mobullity frontend.

![image](https://cloud.githubusercontent.com/assets/3628509/8740568/9c92458c-2c19-11e5-8fd9-b540fd5df314.png)

Note: the 'book' links direct to socialbicycles corresponding to the network_id -- USF is 48
https://app.socialbicycles.

[2015-07-17 14:12] barbeau commented on #36
@jmfield2 +1 - it would be especially nice to link out directly to the SoBi site from the marker balloon using the URL above.

[2015-07-24 20:12] barbeau opened #37 "HART bus stops layer doesn't work"
On http://mobullity.forest.usf.edu/index.html, I no longer see the HART bus stops when turning on the "HART" layer:

![image](https://cloud.githubusercontent.com/assets/928045/8883688/b8ffa81c-321e-11e5-8f55-70a4ba4e3ab1.png)

[2015-07-28 12:08] jmfield2 opened #38 "Incorrect walking route to REC"
http://mobullity.forest.usf.edu/index.html?module=planner&fromPlace=CUT%3A%3A28.0586%2C-82.4161&toPlace=REC%3A%3A28.06044%2C-82.40758&time=7%3A55am&date=07-28-2015&mode=WALK&maxWalkDistance=1609.34&wheelchair=false&arriveBy=false&showIntermediateStops=true&itinIndex=0

Should use the main walkway ("sessums mall") and use the main entrance on the south side of building.  Note avoid stairs should ha

[2015-08-04 17:54] barbeau opened #39 "Bike lanes key color doesn't match map color"
The color of the "Bike Lanes" square in the "Layers" box is green, while the line displayed on the map is red.  I think we should use the same color for both.  Screenshot of current colors is below.

![image](https://cloud.githubusercontent.com/assets/928045/9068241/4b6fd66a-3ab0-11e5-9e8e-68db13d521a4.png)

[2015-08-04 22:25] barbeau opened #40 "Can't currently plan a trip to/from current location"
Unless I'm missing something, I couldn't figure out a way to plan a trip to/from the user's current location.  If we aren't currently allowing this, we definitely need to support it.  It's a must-have feature when you're actually using the app from your phone in the field, as I was today (trying to plan a trip from my location to ALN while walking there).

One option would be to add "My location"

[2015-08-06 13:11] barbeau commented on #40
I would also default to the starting location being the real-time location of the user.

[2015-08-07 14:11] barbeau commented on #35
From my meeting with Chris Akin (USF IT Director) yesterday - a few items that fall under this issue:
1.  We decided that the MyUSF app will include icons for maps, etc. that link out to the MoBullity site.  However, we'd want to link out to the Trip Planner and Layers windows separately - in other words, we'd need the ability to default to different windows based on a URL.
2.  Tabs should be colo

[2015-08-07 14:15] barbeau opened #41 "Only show the Welcome popup on the user's first visit to the app"
Related to https://github.com/CUTR-at-USF/usf-mobullity/issues/35, but I figured I'd pull this out in its own issue, since its a little different.

We're currently showing the "Welcome" popup on each visit to the site (see below).  This gets annoying fast.  We should only show this on the user's first visit to the site.

![image](https://cloud.githubusercontent.com/assets/928045/9137667/3ea014f6-3

[2015-08-07 18:53] jailby opened #42 "One way restriction not respected"
The following shouldn't happen:
http://mobullity.forest.usf.edu/index.html?module=planner&fromPlace=28.06904559564242%2C-82.40837752819061&toPlace=28.069253867752828%2C-82.40851163864136&time=2%3A40pm&date=08-07-2015&mode=CAR&maxWalkDistance=1609.34&wheelchair=false&arriveBy=false&bannedRoutes=undefined&showIntermediateStops=true&itinIndex=0

There is a one way restriction:
http://www.openstreetma

[2015-08-07 21:01] barbeau commented on #42
Thanks @jailby!  Can you please add this to the unit test list too?

[2015-08-08 19:10] jailby commented on #42
It is already on there.

[2015-08-11 13:36] jailby opened #43 "U-turns restriction are not respected"
The following is an example:
http://mobullity.forest.usf.edu/index.html?module=planner&fromPlace=28.06907399640853%2C-82.40427374839783&toPlace=28.069263334657325%2C-82.40434885025024&time=9%3A27am&date=08-11-2015&mode=TRANSIT%2CWALK&maxWalkDistance=1609.34&wheelchair=false&arriveBy=false&bannedRoutes=undefined&showIntermediateStops=true&itinIndex=0

The restriction need to be coded in OSM. A lot

[2015-08-11 13:38] barbeau commented on #43
Thanks @jailby!  Can you please provide the links to the OSM elements that are involved in the above incorrect behavior?  Also, can you please indicate which are coded correctly according to OSM?

[2015-08-11 13:53] jailby commented on #43
The U-turn restriction not respect for the **first** example is between the following ways:
**from** 91011638 http://www.openstreetmap.org/way/91011638
**via** 88714957 http://www.openstreetmap.org/way/88714957
**to** 357491749 http://www.openstreetmap.org/way/357491749

The U-turn restriction not respect for the **second** example is between the following ways:
**from** 91011638 http://www.openst

[2015-08-11 14:01] barbeau commented on #43
@jailby Thanks!  Can you also please link directly to OpenStreetMap for each of those ways?

[2015-08-12 13:29] barbeau opened #44 "Default to Trip Planner view"
Based on feedback from USF, we should default to the trip planner view.  Currently we default to the Layers view.

[2015-08-12 13:34] barbeau opened #45 "When using itinerary link, center map on trip plan"
Currently, when using a link for a trip:
http://mobullity.forest.usf.edu/index.html?module=planner&fromPlace=28.05456022682711%2C-82.41329669952393&toPlace=CUT%3A%3A28.058091807150525%2C-82.41654753684998&time=9%3A19am&date=08-12-2015&mode=CAR

...the map centers on the user's location:

![image](https://cloud.githubusercontent.com/assets/928045/9225061/ffca9698-40d4-11e5-8596-24d66a5af370.png)

W

[2015-08-12 13:46] jmfield2 commented on #45
It also looks like this route is ignoring the gate barrier that is shown by
google and is apparently present in OSM - the way may need to be split.

On Wed, Aug 12, 2015 at 9:34 AM, Sean Barbeau notifications@github.com
wrote:

[2015-08-12 14:51] barbeau commented on #45
Good observation @jmfield2.  @jailby, could you please checkout the above?

[2015-08-12 15:10] barbeau opened #46 "Change header design - use USF horizontal logo, get rid of MoBullity, add hamburger menu"
More suggestions from USF IT - we should change the header of the app so that it looks closer in appearance to the main MyUSF app:

![image](https://cloud.githubusercontent.com/assets/928045/9227305/c9d902d4-40e0-11e5-9cbe-324efcbc5220.png)

This involves removing the MoBullity name, and replacing it with the horizontal gold USF logo - I asked USF IT to provide the one they are using in MyUSF.

Th

[2015-08-12 16:54] jailby opened #47 "OpenTripPlanner routing doesn't respect a barrier"
In the following trip, the open trip planner doesn't respect a barrier that is present on the trip.
http://mobullity.forest.usf.edu/index.html?module=planner&fromPlace=28.05456022682711%2C-82.41329669952393&toPlace=CUT%3A%3A28.058091807150525%2C-82.41654753684998&time=9%3A19am&date=08-12-2015&mode=CAR

![image](https://cloud.githubusercontent.com/assets/1370401/9275789/b301b59a-426d-11e5-8b6b-8025

[2015-08-12 17:51] barbeau opened #48 "Add white border line around real-time Bull Runner markers"
I've gotten feedback from a few people that the markers are difficult to see when they are on top of the route, because they are the same color.  This is especially true when viewing a few routes at a time.  I think adding a white outline may be enough to better distinguish them from the line.

For example of overlap, see below:

![image](https://cloud.githubusercontent.com/assets/928045/9231972/2

[2015-08-12 19:27] barbeau opened #49 "Can't plan a trip if user doesn't select values from Start/End drop down lists"
When the user is planning a trip, if they enter text into the Start/End boxes, but don't select a value from the drop-down list, the trip plan fails:

![image](https://cloud.githubusercontent.com/assets/928045/9234363/7506dc74-4106-11e5-858b-d07b15f8aa5c.png)

If the building abbreviations haven't been geocoded when the user selects "Plan Your Trip", we should geocode at that time so the trip plan

[2015-08-12 19:32] barbeau opened #50 "Pre-populate drop down boxes for Start/End fields with campus buildings"
Currently, when you click on the down arrow next to Start/End boxes, if there isn't anything in the field, nothing is displayed in the drop down:

![image](https://cloud.githubusercontent.com/assets/928045/9234442/defb9d40-4106-11e5-9978-d54973853c00.png)

If possible, we should by default show a complete list of USF building names/abbreviations to choose from, something like:

![image](https://cl

[2015-08-12 19:38] barbeau commented on #50
And, the list should probably be either ordered alphabetically, or by real-time proximity (assuming we have an accurate location).

[2015-08-12 19:39] barbeau commented on #29
@jmfield2 I think we can close this issue, right?  We're now tracking OSM issues in individual issues here, so this umbrella one can be closed.

[2015-08-12 19:42] barbeau commented on #22
I'm no longer having performance issues on the most recent Android phones I've been using (LG G3 and LG G4).  @jmfield2 and @jailby could you please try the site on your phones and see if you have any performance problems when displaying the various layers and trip plans?

I think turning off all the bus stops by default resulted in a huge performance bump.

[2015-08-12 19:44] barbeau commented on #14
@jailby Can you please take a look at this issue and see if you can reproduce it on the public facing site?  It may be fixed now.

[2015-08-12 19:44] barbeau commented on #10
@jmfield2 I think this issue is now fixed?

[2015-08-12 20:02] jailby commented on #22
I don't notice any major performance issue.

I displayed multiple layers and plan multiple trips.

[2015-08-12 20:14] jailby commented on #14
I think it is.

I never saw this issue while testing and I have tested the trip planner quite a lot.
I also tried to reproduce this specific trip but the bus in the example was not present on my test. I believe it's a HART bus and might not be available for some reasons (wrong times etc...).
Therefore, I didn't notice anything wrong.

There is often a gap between bus stop and actual sidewalk but i

[2015-08-12 21:17] barbeau commented on #14
Ok, thanks.  I'll close this for now, and we can re-open if we see it again.

[2015-08-12 21:17] #14 closed, assigned to nobody

[2015-08-12 21:20] barbeau commented on #37
@jmfield2 Is this just because we're missing HART GTFS data in OTP?

I can't seem to plan a trip on HART either.  Here's their newest GTFS data:
http://www.gohart.org/google/google_transit.zip

[2015-08-13 03:53] jmfield2 commented on #29
That sounds about right to me - I'll close it

[2015-08-13 03:53] #29 closed, assigned to nobody

[2015-08-13 15:29] barbeau commented on #45
There is even worse behavior for this issue on Firefox when we don't have the user's location - you get a super-zoomed out view of west Florida, with the trip plan as a small dot on the map:

![image](https://cloud.githubusercontent.com/assets/928045/9253902/90f37a16-41ae-11e5-9d1d-c4ba1431dcbf.png)

[2015-08-14 13:18] jailby opened #51 "Trip going through delivery way"
The following trip is not supposed to go through the delivery way of the Sun Dom:
http://mobullity.forest.usf.edu/index.html?module=planner&fromPlace=28.058697750290175%2C-82.40580797195435&toPlace=28.059656364296405%2C-82.40605473518372&time=9%3A09am&date=08-14-2015&mode=TRANSIT%2CWALK&maxWalkDistance=1609.34&wheelchair=false&arriveBy=false&bannedRoutes=undefined&showIntermediateStops=true&itinIn

[2015-08-14 13:41] jailby commented on #49
Also, if a trip was already plan before this bug no error message will appear and the only thing returned will be the old trip.

[2015-08-14 13:46] jailby opened #52 "Allow inputting full name for location for origin and destination"
When the user is planning a trip, it would be good if the user could search by building name instead of only by abbreviation.

Currently if a user start writing "eng" for "engineering" to plan a trip to either engineering buildings (ENC, ENB, ENA etc...) the user will only see "ENG" in the drop down box.

Some full name of building are present in the drop down list of the Start/End boxes.

[2015-08-17 18:16] jailby opened #53 "Going through parking lots"
Currently it is not possible to go through parking lot for a pedestrian.

In the following trip the user has to go around the Sun Dome when he actually could go through the parking lot:
http://mobullity.forest.usf.edu/index.html?module=planner&fromPlace=28.05948357771206%2C-82.40761578083038&toPlace=28.05986465460419%2C-82.40776866674422&time=1%3A57pm&date=08-17-2015&mode=TRANSIT%2CWALK&maxWalkDis

[2015-08-17 18:44] barbeau commented on #53
IIRC, whether or not we want to route pedestrians through parking lots was debated.  I believe we determined that we would only provide pedestrian routes through parking lots if there was an actual pedestrian path (e.g., sidewalk) there, due to safety reasons.

@jmfield2 Is this correct?

[2015-08-17 19:26] jmfield2 commented on #53
Sounds right
On Aug 17, 2015 2:44 PM, "Sean Barbeau" notifications@github.com wrote:

[2015-08-19 14:26] barbeau opened #54 "Check Google Analytics prior to launch"
We need to take a look at the current Google Analytics setup, including what key we're using, to make sure we can see the metrics we're interested in.  We should ask USF IT as well, and perhaps other departments, to see if they are interested in capturing specific items.

[2015-08-19 17:07] jailby opened #55 "Buildings missing from geocoder"
The following is a list of building abbreviation and name not currently on mobulity:
(We need the GPS coordinates)
- [x] ALZ Johnnie B. Byrd, Sr. Alzheimer's Center
- [x] BBP Pam & Les Muma Basketball Center
- [x] BDG Beard Drive Parking Facility
- [x] BPT Baptist Student Center
- [x] CBG Collins Boulevad Parking Facility
- [ ] CCG Moffitt Parking Garage #1
- [ ] CDC Moffitt child Care Center
- [x

[2015-08-19 22:25] barbeau commented on #55
And for the record, here's where the names and lat/longs need to be added to:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/main/resources/org/opentripplanner/geocoder/application-context.xml#L51

Pull requests accepted if anyone gets to this before we do ;).

[2015-08-19 22:32] barbeau commented on #55
We can gradually work on this, as well.  If we add a new commit and PR for a building or two, we should reference this issue number in the commit and PR, and then update the original post above to strike-through the building that was added.  When all buildings are struck through and complete we can close this issue.

[2015-08-21 02:50] jmfield2 commented on #26
NOTE:

The URL to the HART GTFS data that should be updated is:
http://gohart.org/google/google_transit.zip

It has been added to the OTP recipe in chef as 'remote_file' and should auto-update.

[2015-08-21 03:15] jmfield2 commented on #37
see PR #57

[2015-08-21 03:47] jmfield2 commented on #27
From your last screenshot, my layers seems to look the same.  The font-family for that (and the top links) is: 'Helvetica Neue', Arial, Helvetica, sans-serif

Should we go ahead and update the old stencil font for mobullity (defined at src/client/style.css:376  - #site-title a) to that, or something else?

[2015-08-21 04:10] jmfield2 commented on #41
Looks like this is a consequence of other cookies (namely, google analytics it looks like) interfering with the original cookie for the welcome widget.

The getCookie and checkCookie functions inside of src/client/js/otp/modules/planner/PlannerModule.js

need to be changed to conform to the key=value structure of document.cookie and then iterate the available cookies (perhaps a better way than sim

[2015-08-21 19:57] barbeau commented on #27
Sounds good!

[2015-08-22 00:23] jmfield2 opened #59 "Stop Markers - HART marker visibility improvement, missing Bull Runner markers"
HART: A more visible color than the current white circle + Fix HART routing/stop viewer to show actual agency name and not "Agency#3"

Bullrunner: Where did they go? Are they directly on the road as tiny dots? - Used to be larger green circles similar in size to HART.

[2015-08-22 00:24] #34 closed, assigned to nobody

[2015-08-22 00:24] #37 closed, assigned to nobody

[2015-08-22 00:26] #39 closed, assigned to nobody

[2015-08-22 00:26] #33 closed, assigned to nobody

[2015-08-22 00:52] jmfield2 opened #60 "Update Geocoder to newest main OTP version"
The geocoder currently is deployed from an older version of OTP (usf-gui) which still compiled individual .WAR files.  There is some support within the core of OTP to handle the geocoder internally to the otp.jar, and the overall system would probably benefit from migrating the older system to this if possible without  a lot of extra work.

src/main/java/org/opentripplanner/api/resource/ExternalGe

[2015-08-22 02:13] #27 closed, assigned to jmfield2

[2015-08-24 14:09] jailby commented on #32
Related issue created on the official OTP repository
https://github.com/opentripplanner/OpenTripPlanner/issues/2111

[2015-08-25 16:54] barbeau opened #63 "Add more USF-centric Points-of-Interest"
Here's the current official USF PDF map for visitors:
http://www.usf.edu/administrative-services/parking/documents/visitormap.pdf

And here are screenshots, in case the above link breaks:

![image](https://cloud.githubusercontent.com/assets/928045/9473293/12129654-4b28-11e5-9b7b-ca38f03e5e4a.png)

![image](https://cloud.githubusercontent.com/assets/928045/9473305/28dfd05e-4b28-11e5-8874-d4889029b1

[2015-08-25 16:58] barbeau commented on #63
For restaurants on campus that have more than one location, like Subway and Starbucks, we should add the building name/abbreviation they are located in after the name.  For example, Subway locations could be:
- Subway (Marshall Student Center (MSC))
- Subway (Cooper Hall (CPR))

We could also consider having another layer for restaurants that shows these locations with markers on the map.

[2015-08-26 13:15] barbeau commented on #41
Thanks @jailby!

[2015-08-26 14:18] jailby commented on #44
When doing this the welcome popup need to updated to reflect this change:
![image](https://cloud.githubusercontent.com/assets/1370401/9495843/7a59ad66-4bdb-11e5-99ef-cd5db9984f8e.png)

The line to modify are line 145 to 147 in the following file:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/modules/planner/PlannerModule.js

[2015-08-26 14:24] jailby commented on #45
Should we also include in the welcome popup that to have full access of the functionality of the website they should share their location?

This might need a separate issue:
The super-zoomed out view of West Florida also happen without planning a trip in Firefox if the user location is not available.
@barbeau let me know if I should create another issue

[2015-08-26 17:05] barbeau commented on #53
I'm going to close this as "wont fix", because for now we're avoiding parking lots as a policy.  If this changes in the future we can re-open the ticket.

[2015-08-26 17:05] #53 closed, assigned to jmfield2

[2015-08-26 17:08] barbeau opened #64 "Remove requirement for "/index.html" in URL"
Right now, to see the site you have to enter the full URL into your browser, including the "/index.html":
http://mobullity.forest.usf.edu/index.html

If you don't add "/index.html", you just see a blank screen (see below for screenshot):
http://mobullity.forest.usf.edu/

We should allow the user to input just the main URL, and not require the "/index.html".  I believe this can be accomplished seve

[2015-08-26 17:10] jmfield2 commented on #64
Since it is fixed upstream, but rebasing is hard maybe its best to try and
back port their fix for this? I'll take a look and try to do this if it
isn't too involved which I don't anticipate
On Aug 26, 2015 1:08 PM, "Sean Barbeau" notifications@github.com wrote:

[2015-08-26 17:32] barbeau commented on #64
Ok, cool!  Let us know what you find.

[2015-08-26 17:38] barbeau commented on #45
@jailby I agree - if we don't have an issue that specifically covers default zoom when the user doesn't share their location (even if they don't plan a trip), please create a new issue, and link it to this one via the URL in the summary.  I think the default behavior should be if the user doesn't share their location with the app, the app should center on USF Tampa campus.

[2015-08-26 17:45] jailby opened #65 "Zoom on USF campus"
If users don't share their location the map will give a super zoomed out view of West Florida.
Screenshot from Firefox:
![image](https://cloud.githubusercontent.com/assets/1370401/9501287/63800686-4bf8-11e5-80d3-f34f09c1bd43.png)

When users don't share their location the map should be zoomed on the USF campus. Then, users can manually adjust to their preferences.

Related to: https://github.com/C

[2015-08-27 12:48] jailby commented on #64
You will have to revert the following commit (Or just modify accordingly):
https://github.com/CUTR-at-USF/usf-mobullity/commit/26f100cbd62df7d07a10565a48dabf99789fa218

[2015-08-28 13:10] barbeau opened #66 "Build failure"
I'm seeing the following when trying to clone and build the project with `mvn test`:

[code]

@jmfield2 Is this expected?  Do you have to skip the tests (maybe from upstream project?) in order to get it to build?

[2015-08-28 13:59] jmfield2 commented on #66
We have been skipping the tests to make it build, yes - Jenkins does not
skip the tests though and reports the builds as unstable normally since it
builds the jars but doesn't pass the unit tests

Looks like only a few (8) errors so maybe they aren't too difficult to
track down and fix either ourselves or from upstream
On Aug 28, 2015 9:11 AM, "Sean Barbeau" notifications@github.com wrote:

[2015-08-28 15:16] barbeau commented on #66
Ok, thanks, good to know.  Probably not a high priority if these are failing upstream as well.  We can leave this ticket open just so we have some record of what's going on.

[2015-08-29 00:10] jmfield2 commented on #66
Looking at it a little closer, it looks like it may just be missing some test data?

error loading OSM from path **c:\Git%20Projects\usf-mobullity\target\test-classes\org\opentri
pplanner\graph_builder\impl\osm\NYC_small.osm.gz**

[2015-08-29 17:21] jmfield2 commented on #38
Fixed by c341c05009a62a03f4e86cb03f39b3b10ec4d3be

[2015-08-29 17:21] #38 closed, assigned to jailby

[2015-08-29 17:21] jmfield2 commented on #52
Fixed by c341c05009a62a03f4e86cb03f39b3b10ec4d3be

[2015-08-29 17:21] #52 closed, assigned to jailby

[2015-08-29 18:41] jmfield2 commented on #49
To clarify, I think the "no error message" occurs when you plan a route as in below:

![image](https://cloud.githubusercontent.com/assets/3628509/9563692/98f73a46-4e5a-11e5-9256-e704f09afb8d.png)

And then go back to change the start or end, but don't select the result correctly resulting in something like:

![image](https://cloud.githubusercontent.com/assets/3628509/9563695/a511f74e-4e5a-11e5-930

[2015-08-29 21:43] barbeau commented on #49
I've seen this upon initial page load too, and just replicated on mobile in
Chrome (see screenshot).  The only way you can plan a trip is if the
geocode completes prior to hitting the plan trip button.

Upon load, try typing CUT into origin, than tap on destination field
without selecting from drop down or tabbing, type MSC, and then click on
trip plan before selecting anything from drop down.  It

[2015-08-29 22:08] jmfield2 commented on #49
Hm.  Thanks for that - I originally didn't try on mobile but you're right that makes reproducing that part of the issue much easier to see.

Since the autocomplete will stop onblur (I'm pretty sure) and no results will be available, that part of the  issue wouldn't be fixed by my proposal - so I guess the best way is to (like you said) geocode the start/end again when plan a trip is clicked and ve

[2015-08-29 23:14] barbeau commented on #49
IMHO, yes to both.  That would be a big improvement over current behavior.
We can open another ticket for enhancement to ask user if more than one
result that's a lesser priority.
On Aug 29, 2015 6:08 PM, "jmfield2" notifications@github.com wrote:

Hm. Thanks for that - I originally didn't try on mobile but you're right
that makes reproducing that part of the issue much easier to see.

Since the a

[2015-08-31 13:26] jailby commented on #63
Fields and Stadiums would be a good thing to add too.
For example:
Magnolia Fields (not present yet)
Corbett Stadium (already present abbreviation: SPS)

[2015-08-31 13:49] jailby commented on #65
@jmfield2 do you have an idea of which file handle the zooming part of the code?

[2015-08-31 13:51] jmfield2 commented on #65
I think the default zoom is in js config and it is executed somewhere in js
otp core webapp.js
On Aug 31, 2015 9:49 AM, "jailby" notifications@github.com wrote:

[2015-09-01 14:58] jailby commented on #45
The following is the attribute that need to be set to true to solve this problem:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/config.js#L77

If this attribute is set to true the map will be center on the trip planned, when the user doesn't share his location. However, if the user share his location after the map is centered on the trip it will cause the map

[2015-09-01 15:02] jailby opened #69 "User maximum zoom-in level not working"
Currently the user can zoom-in until the level 8:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/config.js#L73

This cause a bug which cause the tile to all appear gray (no relevant screenshot).

I made some test and it appear to me that only the level 8 has this problem. Thus, I'm proposing to change the "minZoom" attribute to 9.
The fix is on the way.

[2015-09-01 15:12] jailby opened #70 "My location button is needed"
A button "My location" that would cause the user to share his location then the map to center on this location is needed.

Similar to the button on the one bus away application.

An issue has been created to have the possibility to select the current location of the user but this button would enable more functionality for the user.
https://github.com/CUTR-at-USF/usf-mobullity/issues/40

[2015-09-01 15:15] jailby commented on #65
I made some [modification](https://github.com/CUTR-at-USF/usf-mobullity/issues/45#issuecomment-136751961) that made the map to be more zoomed-in on USF campus.

When changing the attribute "[zoomToFitResults](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/config.js#L77)" to true the default location is now centered on USF campus.

I haven't found yet how to mod

[2015-09-01 16:10] barbeau commented on #70
+1 for this - it's very important, especially on mobile.  Let's prioritize this.

One question is how the real-time location button actually looks - here's how it looks on Google Maps on desktop:

![image](https://cloud.githubusercontent.com/assets/928045/9609478/d3cbea7e-50a1-11e5-8992-f70e2822d216.png)

I think something similar with the cross-hairs should work.  We should probably stick to some

[2015-09-01 16:33] jailby commented on #70
Which one do you prefer:
1) https://thenounproject.com/search/?q=location&i=141972
2) https://thenounproject.com/search/?q=location&i=156845
3) https://thenounproject.com/search/?q=location&i=182952
4) https://thenounproject.com/search/?q=location&i=19027
5) https://thenounproject.com/search/?q=location&i=91560
They are all under creative common.

I selected a few that look good and are under CC.

[2015-09-01 16:37] jmfield2 commented on #70
Looks like a leaflet plugin might help implement this:
https://github.com/domoritz/leaflet-locatecontrol

_edit_ Yeah I agree it's related to #40 at least insofar as if the locate start/end can or should reference any previously loaded locations or if it should always try to get fresh coordinates... or if the control will actively track gps

[2015-09-01 17:01] barbeau commented on #70
Plugin looks nice, but doesn't seem to work on Chome?  Try the [demo link](http://domoritz.github.io/leaflet-locatecontrol/demo/) in the README and see if you get the same result.

If we add the "My Location" button, I don't think the map should always re-position itself to the real-time user location.  We've tried this in other apps and it ends up being awkward.  So my vote is for only reposition

[2015-09-02 04:10] jmfield2 commented on #65
Sorry, it isn't in Webapp.js it's in otp core Map.js   (This is also where the L.control for the my location button will probably need to go for #70)

Also, it seems the reason why initzoom isn't working is because of:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/core/Map.js#L103

Basically, Map.js gets the /metadata API from OTP to find the full map boundary

[2015-09-02 04:47] jmfield2 opened #71 "Metadata Map Boundaries"
Currently the /otp/routers/default/metadata API is giving lower left and upper right boundaries for mobullity as the entire greater tampa area.

This appears to be caused by the HART GTFS data that is built into the graph - they add enough temporary edges to expand the map boundaries even though the rest of the network is not available.

Should we build the full graph for tampa instead of just the

[2015-09-02 12:58] barbeau commented on #71
Yes, we should include the full graph for Tampa, definitely HART data, and probably PSTA in Pinellas County as well (if performance is an issue PSTA could be dropped).  Is the main downside of including the larger graph in development slower development time?

IMHO, I think we should try to keep the development and production environments consistent, so any possible issues appear in development fi

[2015-09-02 13:15] jmfield2 commented on #71
In local dev it makes a significant difference in loading time, but the
actual mobullity servers probably should use the same since they don't need
to start and stop very often.

The sizes - 300mb for uncompressed osm data and 100mb serialized - might
eventually be an issue being stored in chef, but I think it will be OK for
now

They use amazon s3 but don't report any quotas - other users have sa

[2015-09-02 13:21] barbeau commented on #71
Ok, I'll leave it up to you and @jailby how you want to manage the development environment - I understand that it doesn't make sense to spend development time staring at the screen if not necessary, and if removing the data enables that, it makes sense to me.

Official PSTA GTFS data is here:
http://www.psta.net/latest/google_transit.zip

Also FYI, the site GTFS Data Exchange is set up to auto-arc

[2015-09-02 13:26] barbeau commented on #71
Ok, I just added the USF Bull Runner to hte GTFS Data Exchange with the download link:
https://github.com/CUTR-at-USF/bullrunner-gtfs-realtime-generator/raw/master/bullrunner-gtfs.zip

...although it doesn't publicly appear yet.  So, we'll just need to make sure we keep the filename consistent.

[2015-09-02 13:34] jailby commented on #65
Yeah I was on this file yesterday but since I had to go I wanted to left an update.

Thus, to make sure, the only line to delete is from 103 to 106 right? The rest of the function creates the boundaries.
@barbeau Should I delete these lines or comment and explain them?

Then;
1) Should be fixed by the deletion of the line 103 to 107, and would only depend on the "initzoom" attribute.
2) If the the

[2015-09-02 13:40] jailby commented on #65
A fix has been provided in the [issue](https://github.com/opentripplanner/OpenTripPlanner/issues/2111#issuecomment-137046621) of the Official OTP which is [here](https://github.com/buma/OpenTripPlanner-Maribor/commit/664fbfb3cd06dc6245bbe8d2cb1dba83e2692476).

What is the procedure to apply the change?
Should I just modify the file "WalkableAreaBuilder.java" to mirror the changes?

[2015-09-02 13:42] jailby commented on #32
A fix has been provided in the [issue](https://github.com/opentripplanner/OpenTripPlanner/issues/2111#issuecomment-137046621) of the Official OTP which is [here](https://github.com/buma/OpenTripPlanner-Maribor/commit/664fbfb3cd06dc6245bbe8d2cb1dba83e2692476).

What is the procedure to apply the changes?
Should I just modify the file "WalkableAreaBuilder.java" to mirror the changes?

[2015-09-02 13:55] jmfield2 commented on #65
I think that's probably easiest and then do a PR
On Sep 2, 2015 9:40 AM, "jailby" notifications@github.com wrote:

[2015-09-02 13:57] jailby commented on #65
I actually tried it and it makes the map not working at all.

I was investigating on why it would do so. If you have an idea of why let me know.

[2015-09-02 13:58] jmfield2 commented on #65
I think that's all that's needed yes

2) I was explaining mostly - but the closer zoom might be a good idea to
define in the config instead of being hardcoded as 17

For 3 and 4 yes they seem to work currently and should be fine as long and
metadata result is saved like now
On Sep 2, 2015 9:34 AM, "jailby" notifications@github.com wrote:

[2015-09-02 14:00] jmfield2 commented on #65
Lol hm can you show me a diff of the map file ? I tried actually just
returning after l.lmap is called above and it seemed to work ... Maybe too
much was removed or some other syntax-like issues?
On Sep 2, 2015 9:58 AM, "jailby" notifications@github.com wrote:

[2015-09-02 14:05] jailby commented on #65
I just did that:
/**
            success: function(data) {
                this_.lmap.fitBounds([
                    [data.lowerLeftLatitude, data.lowerLeftLongitude],
                    [data.upperRightLatitude, data.upperRightLongitude]
                ]);
            /**/

[2015-09-02 14:06] jmfield2 commented on #65
Yup too much - try moving the /*\* after success:
On Sep 2, 2015 10:05 AM, "jailby" notifications@github.com wrote:

[2015-09-02 14:11] jailby commented on #65
Yeah that's not working either. What change did you make that doesn't make the map fail like me?

[2015-09-02 14:42] jailby commented on #65
Actually it's working, sorry.

[2015-09-02 14:55] jailby commented on #65
@barbeau the following is the view we want when a user refuse to share its location:
![image](https://cloud.githubusercontent.com/assets/1370401/9634773/3d25e938-5161-11e5-9cc3-a3684cf3b663.png)

It is center on this GPS coordinates: (28.061062, -82.413200) and the initZoom value is 15. Also, should I delete the lines creating the problems?
I just want a confirmation before creating the PR.

[2015-09-02 15:10] barbeau commented on #65
@jailby Looks good to me!  Yes, please remove any dead/commented code.  We have version control via Git to go back and look at old code if needed.

[2015-09-04 01:16] jmfield2 commented on #32
If you still need to know about this, yes I think all you need to do is try to mirror the changes.

[2015-09-04 11:25] jmfield2 commented on #47
There seems to be no reference to the 'barrier' tag anywhere within the graph_builder component of our version or upstream master, so it seems consistent with the behavior we have seen here.

Should I ask on the lists, attempt to roll our own fix, or something else?

[2015-09-04 11:26] jmfield2 commented on #47
Nevermind - looks like it is implemented (again by buma) in PR: https://github.com/opentripplanner/OpenTripPlanner/pull/2102/files

I can try to backport it.

And this would then also close #30 except for golf carts, I think..

[2015-09-04 13:10] jmfield2 commented on #51
So far, I don't see any reference to the 'access' tag restricting permissions on a way within the OTP graph_builder, and highway=service currently sets StreetTraversalPermission.ALL (which includes pedestrian).

Perhaps we should ask on the dev lists for advice on whether the highway=service should only allow driving modes, to use a different highway tag that will only permit driving (looks to be

[2015-09-04 13:17] jmfield2 commented on #51
There was a related issue awhile back where OTP would sometimes route pedestrians on roads instead  is somewhat related, and I 'fixed' it on my local repo here:
https://github.com/jmfield2/usf-mobullity/blob/34324b69427c5b46bff3f98004c455d6c6bf33de/src/main/java/org/opentripplanner/graph_builder/impl/osm/DefaultWayPropertySetSource.java

This isn't yet in mobullity - I think it may need some addit

[2015-09-04 13:26] jmfield2 commented on #43
The raw OSM code for these restrictions is:

[code]

And is implemented in opentripplanner openstreetmap model OSMRelation

It doesn't appear to do anything with the restriction type as far as I can tell so far, but I'm still investigating.

[2015-09-04 13:38] jmfield2 commented on #51
Actually, it will try:
openstreetmap model OSMWithTags - way.isGeneralAccessDenied

but:
   // There are exceptions.
                return (way.isMotorcarExplicitlyAllowed() || way.isBicycleExplicitlyAllowed() ||
                        way.isPedestrianExplicitlyAllowed());

which all of them should be false since only highway=service is set

[2015-09-04 14:17] jailby commented on #32
I didn't found the file "WalkableAreaBuilder.java" in our repository.

I would assume it come from the fact we are a little behind from the current version of otp and this part of the graph builder got its own file on a later version.

I know you @jmfield2 were updating our repository lately, thus I don't know if we should wait until you are done.

[2015-09-04 19:10] barbeau commented on #46
If we don't hear back from USF IT, let's use the solid gold horizontal logo in bottom left corner from the official USF logo page:
http://usfweb4.usf.edu/ucm/marketing/logos/logo-download.aspx

[2015-09-04 19:56] jailby commented on #32
The [code modified](https://github.com/buma/OpenTripPlanner-Maribor/commit/664fbfb3cd06dc6245bbe8d2cb1dba83e2692476) by Buma need tp be added at the following location:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/main/java/org/opentripplanner/graph_builder/impl/osm/OpenStreetMapGraphBuilderImpl.java#L1028

[2015-09-07 17:22] jailby commented on #65
The code is missing a comma so the production is not working at the moment.

[2015-09-07 17:32] #65 closed, assigned to jailby

[2015-09-10 15:12] jailby commented on #69
This problem behave very differently depending on the computer and browser used. The problem probably come from the tiles rendering that requires too much resources for some computer.

[2015-09-10 17:25] barbeau commented on #69
@jailby I don't think its a computational resource issue - I'm able to reproduce this in Chrome on my work machine which is a dual CPU Xeon w/ 16GB of RAM.  My feeling is that its a bug in the tile rendering code - I think that's [Leaflet](https://github.com/CUTR-at-USF/usf-mobullity/tree/mobullityrebase/src/client/js/lib/leaflet) for us?  Leaflet might be using OpenLayers or something else intern

[2015-09-10 17:34] jailby commented on #69
Ok good to know.

I made this assumption because it was easier to reproduce on the desktop computer that is less powerful than my laptop.

[2015-09-15 14:39] jailby commented on #69
To reproduce this bug:
zoom at the maximum level the tile should not load and be all gray. When zooming out it should still be gray until some level (~12 I think).

This bug should appear in most configuration. However, I was not able to reproduce it on a windows desktop computer with chrome.

[2015-09-15 17:19] barbeau commented on #69
@jailby if you're having issues reproducing, why don't you move on to some of the other more critical issues, like https://github.com/CUTR-at-USF/usf-mobullity/issues/70.  We can always come back to this one.

[2015-09-16 14:20] jailby commented on #42
This trip was taking the one way lane from Fletcher Ave. onto USF Maple Dr. for both car and pedestrian.

It has been fixed by adding the tag (One way and U-turn restriction) in OSM.

[2015-09-16 14:20] #42 closed, assigned to jmfield2

[2015-09-16 14:22] jailby commented on #43
This issue is still currently present even though the restriction tag is present on OSM (for both pedestrian and cars).

Since this is a really specific issue it has a lower priority for now. Also, there is a sign indicating the U-turn restriction on the road and sign should have the priority on trip planners.

[2015-09-16 14:38] jailby commented on #65
The view is now zoomed in on the trip planned but two issue appeared:

1) On lower resolution screen the view became too zoomed in. The solution could be to zoomed out a little more. The default zoomed in may be too much. However, this could generate a problem for high resolution screen which could end up too zoomed out.
Adapt depending on the screen resolution is probably the best way to fix this

[2015-09-16 15:01] jailby commented on #45
Coming back on my previous comment if the location is automatically shared, then the "zoom-in" on the user location will automatically happen **after** the view is "zoomed-in" on the trip. This interaction is not the best.

The solution could be to zoom on the trip as the last thing to do. If the user actually want to go to his/her location the "My location" button #70 should be pressed/clicked.

[2015-09-16 15:17] jailby opened #74 "Zoom on trip to close on low resolutions"
We decided to center the view on the trip planned by the user and it has been fixed in #45 which works.

However, on low resolution screen the view is sometimes too zoomed in and to have a useful view of the map the user need to zoom out.

If we just change the attribute to be zoom out a bit more this might generate problem for higher resolution screens. Higher resolution screen would have a view

[2015-09-16 15:50] jailby opened #75 "Internet Explorer not working"
On the windows computer provided by CUTR, mobulity is not working using **IE**.

The computer is **desktop** computer running **Microsoft Windows 7 Enterprise**:
Version 6.1.7601 Service Pack 1 Build 7601
Processor   Intel(R) Core(TM) i3 CPU         530  @ 2.93GHz, 2933 Mhz, 2 Core(s), 4 Logical Processor(s)
Installed Physical Memory (RAM) 2.00 GB

**Internet Explorer** version: 8.0

The following

[2015-09-16 15:54] barbeau commented on #75
It seems to work fine on IE 11 on my work machine.  Would be good to get
others to try different versions too.
On Sep 16, 2015 11:50 AM, "jailby" notifications@github.com wrote:

[2015-09-16 16:03] jailby opened #76 "Opera not properly working"
On the windows computer provided by CUTR, mobulity is not working using **Opera**.

The computer is **desktop** computer running **Microsoft Windows 7 Enterprise**:
Version 6.1.7601 Service Pack 1 Build 7601
Processor   Intel(R) Core(TM) i3 CPU         530  @ 2.93GHz, 2933 Mhz, 2 Core(s), 4 Logical Processor(s)
Installed Physical Memory (RAM) 2.00 GB

**Opera** version: 32.0

The following screens

[2015-09-16 17:26] barbeau commented on #76
I don't have Opera installed - I'll see if I can install it.

[2015-09-17 17:50] jailby commented on #45
I think I located [the code that change the map view  on the user location](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/core/Map.js#L151) after the view was centered on a trip.

However, I did not found the code center the view on a trip. I'm still looking for it and thinking of a solution for not calling queueView() when a trip is planned. @jmfield2 if you

[2015-09-17 20:14] jailby commented on #70
@jmfield2 I have been trying to find the code for the widget that allow the user to zoom in and out. I have been unsuccessful yet. Do you know where it is or have a idea of where it could be?

[2015-09-17 21:08] jmfield2 commented on #70
This should be part of leaflet I think and configured by map.js with the
zoomControl config option

To add the my location you'll need to make a new control and add it to the
map like the other project (whose demo was broke) that I linked above
probably
On Sep 17, 2015 4:14 PM, "jailby" notifications@github.com wrote:

[2015-09-18 12:37] jmfield2 opened #77 "HART agencyName is wrong"
Upon fixing the HART stop markers (via updated GTFS), I noticed that the agencyName is generic instead of the correct "Hillsborough Area Regional Transit" from the GTFS.

This should be fixed if possible

[2015-09-18 12:43] jmfield2 opened #78 "Update Bullrunner Stops"
We received a new list of stops from Parking & Transportation Svcs that should be added to the GTFS so that the Chef system can  automatically pull them.

https://github.com/CUTR-at-USF/bullrunner-gtfs-realtime-generator/blob/master/bullrunner-gtfs.zip

and the attached file

[USF RoutesStops 9-1-15.xlsx](https://github.com/CUTR-at-USF/usf-mobullity/files/2145/USF.RoutesStops.9-1-15.xlsx)

[2015-09-18 12:56] jmfield2 opened #79 "SocialBicycles Updater"
- Merge and update the bike_rental code
- Final stability testing

Currently there are only a handful of hubs listed from the API and they include data from several available racks (via geographic clustering - e.g: one hub @ MSC lists available bikes for the north, east, and south racks nearby)

With that said, it may be better to route users to individual bikes instead at least to pickup, and the

[2015-09-18 13:04] jmfield2 opened #80 "Bicycle Lanes"
- Merge and update to the latest code
- Testing

The OSM data uses 'est_width' tags and is currently not upstream - this needs to be added there before it will work correctly on mobullity.

[2015-09-18 13:06] jmfield2 opened #81 "Document OTP/Mobullity Features"
We need a place to document all of the additional features that we use on Mobullity and how they deviate from the upstream OTP to help with merging and backports in the future.

A quick list:
- GTFS-RT
- Bicycle Lane routing/visualization
- SocialBicycles updater
-

[2015-09-18 13:07] jmfield2 commented on #26
Since this is automatically updated by Chef.. we can probably close this.

[2015-09-18 13:07] #26 closed, assigned to nobody

[2015-09-18 13:10] jmfield2 commented on #30
#47 should fix this, but later enhancements can include new vehicles like golf carts to better utilize this code.

[2015-09-18 14:40] jailby commented on #70
I did find the configuration in Map.js at the [line 167](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/core/Map.js#L167).
This seem to just position the widget. I was atually looking for the code that do the zoom in/out.

Like when it does "L.control.zoom" where does the "zoom" come from. I'm reading more about leaflet so I might found out at some point.

[2015-09-18 14:51] jmfield2 commented on #70
Ya - that should be somewhere in leaflet .. There is a github that might be
easier

Good luck lol
On Sep 18, 2015 10:40 AM, "jailby" notifications@github.com wrote:

[2015-09-18 15:07] jailby commented on #70
Yeah I'm reading stuff from the github and the leaflet documentation.

[2015-09-18 15:45] barbeau commented on #79
I got this info this week from Francis Morgan at Campus Rec:

Upon further discussion it sounds like when bikes are docked near buildings, they are calculating a GPS position once per hour, and simply grabbing and using the first GPS fix.  The problem with this approach is that the initial fix can be very inaccurate - apparently the company is working on changing this to do some averaging over a f

[2015-09-18 18:50] barbeau commented on #69
Just checked the changelog for Leaflet - looks like this may be a bug fixed in Leaflet 0.7.4:
https://github.com/Leaflet/Leaflet/blob/master/CHANGELOG.md#074-september-1-2015

We're currently using Leaflet 0.7.3:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/lib/leaflet/leaflet-src.js#L10

Most recent stable release is 0.7.5:
http://leafletjs.com/download.html

So

[2015-09-18 18:55] cagryInside commented on #70
Look at this post:

http://stackoverflow.com/questions/23016863/adding-an-external-find-my-location-button-outside-of-the-map

[2015-09-18 19:04] jailby commented on #70
https://github.com/domoritz/leaflet-locatecontrol#methods

[2015-09-18 19:06] cagryInside commented on #70
Look at this post:

http://stackoverflow.com/questions/23016863/adding-an-external-find-my-location-button-outside-of-the-map

Edit:
http://codepen.io/leemark/pen/vcbuf

[2015-09-22 14:09] jailby commented on #45
@jmfield2 When we discuss this problem I thought that you told me that leaflet was the cause of this problem. Leaflet actually do the map view position on the user location.

I'm not sure if it is exactly what you say or I misunderstood or something. However, I found that commenting [this line](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/core/Map.js#L151) fi

[2015-09-22 14:21] jailby commented on #70
@barbeau I tried the [leaflet plugin demo](http://domoritz.de/leaflet-locatecontrol/demo/) with chrome on both my Linux Mint laptop and the desktop windows 7 computer and it was working.
Can you check again if it is not working for you and let me know what's wrong with it.

If it is actually working it is probably or best solution. Otherwise, we would have to create the widget and position it corr

[2015-09-22 14:24] jailby commented on #69
According to what @jmfield2 saw on the leaflet repository it is an upstream fixed issue. Thus updating leaflet should fix this problem.

[2015-09-22 14:33] jailby commented on #76
Opera did not work then but work for me again right now.

Since, this issue seem to not be able to be reproduce and the potential number of user affect by such bug is really low, I'm closing the issue.

[2015-09-22 14:33] #76 closed, assigned to nobody

[2015-09-22 14:34] barbeau commented on #70
@jailby Seems to be working for me now on Chrome.  Maybe it was a temporary issue.

[2015-09-22 15:26] jailby commented on #76
Opera did not work then but work for me again right now and Friday.

Since, this issue seem to not be able to be reproduce and the potential number of user affect by such bug is really low, I'm closing the issue.

[2015-09-23 15:42] jailby commented on #75
IE8 is not working because the following line of code is commented:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/index.html#L36

Updating leaflet should fix this problem since they don't use a separate file for IE8 and therefore this three lines should be deleted.

[2015-09-24 15:29] jailby commented on #69
If we change the [maxim zoom](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/config.js#L74) to 18 or 19 this bug should not be present anymore.

I tested it and it work. We just need to make sure this maxim zoom is not too zoomed out.

[2015-09-25 02:50] jmfield2 commented on #47
So, I was able to backport the PR from upstream, but this issue is not fixed by the changes for some reason.  In addition, testing the same map and route using the upstream branch directly exhibits the same behavior where OTP routes through a barrier.

On a side note, although this issue is not fixed by the upstream branch, the long-standing issue where car trips fail to work if the start/end node

[2015-09-25 02:59] jmfield2 commented on #64
Fixed by ece250a

[2015-09-25 02:59] #64 closed, assigned to jmfield2

[2015-09-25 03:16] jmfield2 commented on #32
![issue32](https://cloud.githubusercontent.com/assets/3628509/10092250/4c855a86-6312-11e5-88bb-03539294843b.png)

The upstream patch fixes this issue.

[2015-09-25 03:21] jmfield2 commented on #78
Note
http://gtfsfeedvalidator.transitscreen.com/

[2015-09-25 04:20] jmfield2 commented on #74
Cleaning up the src/client/js/otp/config.js zoom levels seems to have fixed this issue in my testing.

@jailby can you test and confirm that the PR fixes this?

[2015-09-25 13:39] jmfield2 commented on #77
With the cleanup and updates from #71, the agency name here for both PSTA and HART appears to be fixed.

[2015-09-25 13:40] jmfield2 commented on #71
The graph is now updated to a recent tampa extract from mapzen and includes the remote URLs for HART, PSTA, and HART in chef.

Note: It takes about 1-2 minutes to start OTP using this graph on the VPS during which time java is pegged @ 99% CPU.  Once it is loaded, the process is using about 900MB of ram.

[2015-09-25 13:45] jmfield2 commented on #80
Ugh - with the full tampa graph, at least the frontend code for this takes a long time to load for me on FF linux...  Need to investigate why

[2015-09-25 19:31] jailby commented on #41
The popup reappear if the user clear his/her cache.
Find a better way.

[2015-09-25 19:47] #74 closed, assigned to nobody

[2015-09-25 20:07] jailby commented on #69
Closed because fixed:
https://github.com/CUTR-at-USF/usf-mobullity/commit/52e97f0448319951ade0b258f9fa158200cedc86

[2015-09-25 20:07] #69 closed, assigned to jailby

[2015-09-28 15:38] jailby commented on #41
I added an expiration date and it should fix the problem.

Cookies are automatically deleted when the browser is close. However, when there is an expiration date the cookie will not be deleted until this date.

I set the date to "Fri, 13 Dec 2041 12:00:00 UTC". @barbeau is this date ok?

[2015-09-28 16:37] barbeau commented on #41
@jailby 2041 date seems fine to me.

[2015-09-29 03:18] #32 closed, assigned to nobody

[2015-09-29 03:18] #45 closed, assigned to jailby

[2015-09-29 03:18] #71 closed, assigned to jmfield2

[2015-09-29 03:18] #77 closed, assigned to jmfield2

[2015-09-29 14:58] #41 closed, assigned to jailby

[2015-09-29 17:25] jailby commented on #44
I found the following commit where the layer tab has been set up has default:
https://github.com/CUTR-at-USF/usf-mobullity/commit/e5b1671ed96502d790ee92344a216b6da86cdb98

I'm pretty sure it is somewhere in this commit due to the change made on PlannerModule.js.
It's probably just an attribute to change but I haven't found it yet.

[2015-09-29 17:53] jmfield2 commented on #44
Looks like its at line 104? Of multimodal module
Where this.optionsWidget.minimize
Minimizes the trip planner

Maybe start layers as minimized instead

Also note that there's another issue requesting the ability to open a
particular window based on the url like
/#layers for the layers first
Or /#trip
Or /#map for nothing?

You can get this with:
Window.location.hash
On Sep 29, 2015 1:25 PM, "jailb

[2015-09-30 13:46] jailby commented on #44
I didn't found the other issue that you are talking about. @jmfield2 can you give me a link to it please.

I just finished, and I tested it a couple time and it seem to work. I need to test more, then I will commit and PR.

[2015-09-30 13:55] jmfield2 commented on #44
Lol it was mentioned in #35

[2015-09-30 13:59] jailby commented on #44
@barbeau what should be the new start up popup?

Since the trip planner is the default widget open now, I can revert to the [previous statements of the popup](https://github.com/CUTR-at-USF/usf-mobullity/commit/e5b1671ed96502d790ee92344a216b6da86cdb98#diff-f3710d03c9d902ab8ece2396163c891fL136)

The only thing is that if a user use one of the "#widget" for example "#layers", then the popup statemen

[2015-09-30 14:06] barbeau commented on #44
@jailby That's fine - this will change anyway when we move to the hamburger menu, at which point we can just say something generic like "use the menu to change between the trip planner and layers".

[2015-09-30 14:33] jailby commented on #46
Note: the [welcome popup](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/modules/planner/PlannerModule.js#L144) need to be update to reflect this change

[2015-10-02 12:48] #40 closed, assigned to jmfield2

[2015-10-02 12:48] #50 closed, assigned to jmfield2

[2015-10-02 12:57] jmfield2 commented on #18
Also note, the vehicle positions are currently not updating.
The GTFS-RT generator is running, but is not correctly updating route prediction info.

As of now, for route C usfbullrunner.com shows: 1119, 1121, 3004, and 1124.
Syncromatics shows predictions for 1119, 1121, and 3004 (currently).

Mobullity only shows 1982 and 2102 (stuck in one place) - the same as what the GTFS-RT feed says.

[2015-10-02 13:39] #44 closed, assigned to jailby

[2015-10-02 18:56] jailby commented on #46
The following  framerwork can be usefull:
http://materializecss.com/mobile.html

Edit: I tried this framework and it causes the trip planner widget to be not usable.
![image](https://cloud.githubusercontent.com/assets/1370401/10434669/0a1190c2-70e9-11e5-9e3b-9294295fbac6.png)

If we go forward with this framerwork we might have to redo the trip planner widget.

[2015-10-05 13:49] jailby opened #93 "Name of the map layers"
The name of the layers are configured [here](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/config.js#L45).

The current names are:
MapQuest OSM
MapQuest Aerial

And need to be change respectively by:
Map
Satellite

[2015-10-08 22:30] jmfield2 commented on #78
This is fixed - will push PR shortly

[2015-10-09 10:54] jmfield2 commented on #78
Should be fixed by  c01b716 @ gtfs-realtime-generator

[2015-10-09 10:55] jmfield2 commented on #78
Should be fixed by https://github.com/CUTR-at-USF/bullrunner-gtfs-realtime-generator/commit/c01b716da28ad955ff59c95aadb9e8fc8dfe59e7

[2015-10-09 10:55] #78 closed, assigned to jmfield2

[2015-10-09 13:18] jmfield2 commented on #70
I think https://github.com/CUTR-at-USF/usf-mobullity/pull/95 should fix the remaining issues with the locate btn

[2015-10-12 15:13] jailby commented on #93
Fixed by:
https://github.com/CUTR-at-USF/usf-mobullity/commit/a8cb2ad6225547ff3c2a27973e7b5714adca4809

[2015-10-12 15:13] #93 closed, assigned to jailby

[2015-10-12 17:57] jailby commented on #46
This other framerwork could also be useful:
http://www.getmdl.io/index.html

[2015-10-12 17:57] jailby commented on #46
This other framerwork is also an option:
http://jqueryui.com/

[2015-10-12 18:51] jmfield2 commented on #46
Hm the one I found was jquerymobile

[2015-10-12 18:53] jmfield2 commented on #46
There's also this:

http://www.jqueryscript.net/menu/Multi-functional-jQuery-Off-canvas-Navigation-Plugin-Sidy-js.html

And probably others..

[2015-10-13 03:34] jmfield2 commented on #59
RE: HART icon visibility - maybe https://github.com/lvoogdt/Leaflet.awesome-markers ?

[2015-10-13 03:54] jmfield2 commented on #59
PR #96  should fix at least the missing bullrunner stops
The HART icon change may or may not be sufficient

[2015-10-16 11:12] jmfield2 commented on #23
This is currently the configuration of mobullity, and is managed by chef.

[2015-10-16 11:12] #23 closed, assigned to jmfield2

[2015-10-16 12:21] jmfield2 commented on #80
PR #91 should fix this

[2015-10-20 01:21] #80 closed, assigned to jmfield2

[2015-10-20 01:22] #59 closed, assigned to nobody

[2015-10-20 01:25] #70 closed, assigned to jailby

[2015-10-20 12:49] barbeau opened #97 "USF PATS request - Add Parking and Transportation Services as POI"
A high priority POI - we definitely need to add Parking and Transportation Services (PTA and PTB) - see this map:
http://www.usf.edu/administrative-services/parking/documents/campus-map-directory.pdf

@jailby Could you please do this for both the POI directory in MoBullity and also label the buildings in OpenStreetMap, if they aren't already?

[2015-10-20 14:10] jailby commented on #55
https://github.com/CUTR-at-USF/usf-mobullity/issues/97

[2015-10-20 14:11] jailby commented on #97
Ok, I will take care of this.

[2015-10-20 14:30] jailby commented on #97
PTA is present in OSM but does not show up:
https://www.openstreetmap.org/node/367824927

[2015-10-20 17:41] barbeau opened #98 "USF PATS request - Change default max walk in trip planner GUI"
After talking with USF Parking and Transportation Services (PATS) today, we should change the default "Maximum walk" parameter in the trip planning screen from `1.00` to `0.3`.  At values from `1.0` to `0.4`, OTP only returns a single trip itinerary (walk).  When you change to `0.3`, it provides at least 2 trip itineraries, where the first is walk and the 2nd is Bull Runner.  USF PATS walks to alw

[2015-10-20 20:13] barbeau opened #99 "USF PATS request - reduce square "P" for parking symbols"
This is from USF PATS, but a lower priority issue.

On our map tiles, in a few places there are a large number of blue "P" parking symbols for the same lot.  For example, see Lot 1, and Lot 2A, and Lot 36 below:

![image](https://cloud.githubusercontent.com/assets/928045/10619697/115983b4-7745-11e5-9ca5-6d6c2c98c851.png)

USF PATS wants to reduce this to one "P" per larger lot.  I assume the multi

[2015-10-20 20:15] barbeau opened #100 "USF PATS request - Add parking lot names to Geocoder"
A higher priority from USF PATS - they want us to add the parking lot names to the Geocoder, so someone can type in the lot name and have it show up (just like a building).

They will provide us with the lot names and lat/longs, so it should be fairly straightforward for us to add them.

I'm marking this for 10-24 milestone, although it may get pushed back if they don't provide us with the data be

[2015-10-20 20:22] barbeau opened #101 "USF PATS Request - Add more icons to legend"
We currently have a "Legend" for icons - click the "Settings" wheel in the upper-right corner, and then click "Icon Legend".  It currently looks like:

![image](https://cloud.githubusercontent.com/assets/928045/10619908/35111b4a-7746-11e5-8f56-347917ca68c9.png)

USF PATS wants us to add more to this for the others icons that show up in the layers and map tiles.

We should add:
- [ ]  Blue "P" for

[2015-10-20 20:23] barbeau commented on #98
Also, this is a high priority issue.

[2015-10-21 00:39] jailby commented on #99
Some of these (additional) "P" are trigger because there are retrieved from OSM.
Some OSM's contributor created separate parking lot for disable (for example, not only) area within a parking lot.

This is not the right way to do it anymore:
http://wiki.openstreetmap.org/wiki/Proposed_features/parking

OSM should be updated with the tag parking_space which allow contributor to specify tag such as d

[2015-10-21 00:39] jailby commented on #99
Some of these (additional) "P" are trigger because there are retrieved from OSM.
Some OSM's contributor created separate parking lot for disable (for example, not only) area within a parking lot.

This is not the right way to do it anymore:
http://wiki.openstreetmap.org/wiki/Proposed_features/parking

OSM should be updated with the tag parking_space which allow contributor to specify tag such as d

[2015-10-21 00:39] jailby commented on #99
Some of these (additional) "P" are trigger because there are retrieved from OSM.
Some OSM's contributor created separate parking lot for disable (for example, not only) area within a parking lot.

This is not the right way to do it anymore:
http://wiki.openstreetmap.org/wiki/Proposed_features/parking

OSM should be updated with the tag parking_space which allow contributor to specify tag such as d

[2015-10-21 00:39] jailby commented on #99
Some of these (additional) "P" are trigger because there are retrieved from OSM.
Some OSM's contributor created separate parking lot for disable (for example, not only) area within a parking lot.

This is not the right way to do it anymore:
http://wiki.openstreetmap.org/wiki/Proposed_features/parking

OSM should be updated with the tag parking_space which allow contributor to specify tag such as d

[2015-10-21 00:39] jailby commented on #99
Some of these (additional) "P" are trigger because there are retrieved from OSM.
Some OSM's contributor created separate parking lot for disable (for example, not only) area within a parking lot.

This is not the right way to do it anymore:
http://wiki.openstreetmap.org/wiki/Proposed_features/parking

OSM should be updated with the tag parking_space which allow contributor to specify tag such as d

[2015-10-21 00:39] jailby commented on #99
Some of these (additional) "P" are trigger because there are retrieved from OSM.
Some OSM's contributor created separate parking lot for disable (for example, not only) area within a parking lot.

This is not the right way to do it anymore:
http://wiki.openstreetmap.org/wiki/Proposed_features/parking

OSM should be updated with the tag parking_space which allow contributor to specify tag such as d

[2015-10-21 14:48] barbeau commented on #97
Fixed via https://github.com/CUTR-at-USF/usf-mobullity/pull/102.

[2015-10-21 14:48] #97 closed, assigned to jailby

[2015-10-21 15:09] jailby commented on #98
OK so I think I found where is the attribute in the project:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/modules/planner/PlannerModule.js#L24

I believe that I need to modify all three of these attributes:

[code]

@barbeau The `1.00` in your comment refer to `1.00` **mile** right? Therefore, it need to be changed to `0.3` **miles**.

@jmfield2 I'm a little

[2015-10-21 15:32] barbeau commented on #98
@jailby Yes, my request was to change `1.00` miles to `0.3` miles.

Yes, that doesn't seem to make sense.  With the current settings, it seems `imperialDefaultMaxWalkDistance` should be set to `1`.

I'm guessing `maxWalkDistance` is the metric shown in the Trip Planner Leaflet UI (but converted to mlies)?

When using `0.3` in the UI for max walk distance, here's the URL that's generated:
http://mo

[2015-10-21 15:54] jailby commented on #98
`metricDefaultMaxWalkDistance` and `imperialDefaultMaxWalkDistance` are only used in [this condition](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/modules/planner/PlannerModule.js#L110).

Solely changing `maxWalkDistance` to `482.8032` which is ~`0.3` miles does not fix the problem.

It doesn't change anything because in any cases `maxWalkDistance` will be up

[2015-10-21 15:59] barbeau commented on #98
Here's the code block that @jailby is referencing:

[code]

Looks like this is what switches between metric and imperial based on the OTP config for the server.

Here's the URL that's created when using the default settings:
http://mobullity.forest.usf.edu/index.html?module=planner&fromPlace=(CUT)%20Center%20for%20Urban%20Transportation%20Research%3A%3A28.0586%2C-82.4161&toPlace=(MSC)%20Marshall%2

[2015-10-21 16:08] jailby commented on #98
@barbeau Yes I assume that's right.

[2015-10-21 16:30] barbeau commented on #98
@jailby Can you try changing `imperialDefaultMaxWalkDistance` to `482.8032` and see if that works?

[2015-10-21 16:35] jmfield2 commented on #98
It looks like the 1.0 is coming from modules planner PlannerModule default
query params maxwalkdistance

And is converted into the 1.0 at runtime by geo.distance string (i think)

It is either that variable or the imperial/metric default maxwalkdistance
that Sean said also inside of PlannerModule

[2015-10-21 16:48] jailby commented on #98
Yes, changing `imperialDefaultMaxWalkDistance` to `482.8032` works.

Should I do just that or cleanup the code a bit.

I would prefer to change `maxWalkDistance` to `482.8032` and delete the two other attributes and the condition.

[2015-10-21 17:01] barbeau commented on #98
@jailby My feeling is they probably need to stay if we allow units to change.  And, if we want to stay close to upstream OTP, we should keep those.  So I'd stick with just chaging `imperialDefaultMaxWalkDistance` if that works.  Unless @jmfield2 thinks differently.

[2015-10-21 17:08] jailby commented on #98
@barbeau These two attributes don't seem to be present anymore in upstream OTP:
https://github.com/opentripplanner/OpenTripPlanner/blob/master/src/client/otpa/js/Widgets.js#L43

It bother me a bit that the `imperialDefaultMaxWalkDistance` unit is in meter.

[2015-10-21 17:14] barbeau commented on #98
OK, if it's a cleanup to match upstream that makes sense to me.  And
changing units to correct value also makes sense.
On Oct 21, 2015 1:09 PM, "jailby" notifications@github.com wrote:

[2015-10-21 17:39] jmfield2 commented on #98
Sounds fine to me too. I was about to say the same re upstream and allowing
units to change but..yeah lol
On Oct 21, 2015 1:14 PM, "Sean Barbeau" notifications@github.com wrote:

[2015-10-21 18:53] barbeau commented on #98
@jailby I think you were looking at the wrong module - here in upstream they still have the other two fields:

https://github.com/opentripplanner/OpenTripPlanner/blob/master/src/client/js/otp/modules/planner/PlannerModule.js

[2015-10-21 19:02] jailby commented on #98
True.

You want me to change both `maxWalkDistance` and `imperialDefaultMaxWalkDistance` to `482.8032`?
To be consistent with upstream.

Can I ask them why they have `imperialDefaultMaxWalkDistance` in **meters**?

[2015-10-21 19:19] barbeau commented on #98
Yes.  You should probably change `metricDefaultMaxWalkDistance` to this value as well to be consistent.  See below.

@jmfield2 Do you know if otp.config pulls any browser locale settings to default to metric vs. imperial?  My impression was that this was hard-coded into the server config, but it would make more sense for it to be dynamic based on browser locale.  So, if an international student ha

[2015-10-22 14:06] jailby commented on #98
If this is the case I don't understand why there should be these two attributes. If both need to be in meter and both represent the `maxWalkDistance` they should be the same value and therefore will be useless.
These attributes are use to update `maxWalkDistance` and if in any case they update it to the same value there is no need of such attributes.

@barbeau I'm going to write the question and s

[2015-10-23 12:14] jmfield2 commented on #81
Just a note that from >= otp-0.18.0, Java 1.8 seems to be required.

[2015-10-23 12:24] jmfield2 commented on #75
IE11 on Win7 is working, and IE8 on WinXP works on opentripplanner.usf.edu, and other leaflet demos, but not mobullity, or even upstream otp-0.18.0.

The main difference seems to be jQuery, and that IE8 is failing to load the client-side templates via JS and also failing to initialize the OTP webapp.

The only other option I can think of besides trying to track this down is to look into the convey

[2015-10-23 12:33] jmfield2 commented on #66
This seems to be related to upstream:
https://github.com/opentripplanner/OpenTripPlanner/pull/1578

Where a space in the build directory anywhere breaks the test.  When I tested locally, the tests all passed (no spaces).

I backported the PR and submitted it locally @ #104 which should fix this.

[2015-10-23 13:05] #66 closed, assigned to nobody

[2015-10-23 13:27] jailby commented on #75
I also asked the IT desk and the following is their answer:

[2015-10-23 14:21] barbeau commented on #75
@jailby Do you know if Mobullity works with IE9?

[2015-10-23 14:38] jailby commented on #75
Not sure but when I looked into this problem it seem that other related problems were having this problem specifically for IE 8.

I am assuming that it should work for IE 9 but I don't have it. I can stop by the library/MSC one day to make sure. Let me know if you want me to.

[2015-10-23 17:15] barbeau commented on #75
Yes, let's confirm whether or not it works for IE9.

[2015-10-27 14:49] #98 closed, assigned to jailby

[2015-10-28 14:40] barbeau opened #107 "Change colors to official USF colors"
The new USF logo is looking good:
https://github.com/CUTR-at-USF/usf-mobullity/pull/106#issuecomment-151530961

![image](https://cloud.githubusercontent.com/assets/928045/10791675/cbff2ab4-7d5f-11e5-8622-2d45c731d693.png)

However, it now clear that we aren't using official USF colors in the site - at least for the light green used for the widget headers and main header underline.

We should chang

[2015-10-28 14:40] barbeau commented on #46
I'm splitting out the official USF colors item mentioned in the first comment to its own issue https://github.com/CUTR-at-USF/usf-mobullity/issues/107, as we already have the logo updated in https://github.com/CUTR-at-USF/usf-mobullity/pull/106#issuecomment-151530961.

[2015-10-28 21:56] jailby commented on #107
Do you want both the light green and the green of the banner change to the usf official color green?

The fact there is two color seem more appealing. So we could also change the darker green to usf's green and the light green to the usf's gold.

I can change the code for multiple example and post screenshot of the result here.

Also, does this issue has an higher priority than the hamburger menu

[2015-10-28 21:59] barbeau commented on #107
Hamburger menu is higher priority than this.

My guy feeling is to keep the two-tone design, but change the lighter green to gold.  I'd give it a try with the combinations you think are best and post some screenshots here for comments.

[2015-10-29 05:07] jmfield2 commented on #75
Confirm that IE9 works on Windows 7 (via modern.ie VM)

[2015-10-29 13:39] jailby commented on #75
Thank you. I forgot to do it.

[2015-10-29 13:39] #75 closed, assigned to nobody

[2015-10-30 12:40] jmfield2 opened #110 "Leaflet Locate Control Improvements/Updates"
In order to document the changes required to fix the geoposition conflicts between chrome, our own gps tracking code, and the L.Locate control gps code, we forked the original control plugin, and modified the _activate and _deactivate methods to call into our gps code instead of using it's own.

As a result, our changes likely will be useless to the upstream repo, and therefore care must be taken

[2015-10-30 12:43] jmfield2 opened #111 "Stop Finder Widget"
Possibly related to #21 or #10, the stop finder widget (the link is inside the popup shown after clicking on a stop - aka the stop viewer).

No stops are shown and the form does not appear to work.  The following is shown in console:

StopViewerWidget.js:113:13
ReferenceError: params is not defined TransitIndex.js:276:13

[2015-10-30 20:06] barbeau commented on #54
We're still using the upstream OTP analytics property, so this definitely needs to change.  I'll submit a PR shortly.

[2015-10-30 20:06] barbeau commented on #54
PR submitted at https://github.com/CUTR-at-USF/usf-mobullity/pull/112.

[2015-11-02 14:15] jailby opened #113 "Sharing trips"
Currently there is a widget ["add this"](http://www.addthis.com/website-tools/overview?utm_source=AddThis%20Tools&utm_medium=image&utm_campaign=AddThis%20compact%20menu) that allow user to share the url of the website.

**Problem**
This widget is a bit outdated. The newer versions of "add this" look better.
Also, the intended behavior was to share the trip information that a user planned.

**Solut

[2015-11-02 14:22] jailby commented on #111
For now the Stop Finder widget will not be linked in the production which means that it won't be available for the user.

**Problem**
The widget does not seem to work. See above comment.

Illustration of the widget:
![image](https://cloud.githubusercontent.com/assets/1370401/10886111/89cdfc5e-814e-11e5-9327-53a913d25336.png)

[2015-11-02 15:34] jailby opened #114 "Stop viewer"
Currently it is possible to open the widget "stop viewer". However, the widget doesn't behave properly.

**Problem**
I was not able to select a stop. The widget always indicate "No stop selected". I tried multiple things to trigger the widget but it didn't work.

Also, when clicking a stop some information are display in a bubble. The Stop viewer widget needs to give different information to be us

[2015-11-02 15:49] jailby opened #115 "Trip viewer"
Currently it is possible to open a widget called "trip viewer"

**Problem**
I am not sure of what this widget is suppose to do.
I am guessing that the first drop down box is supposed to be pre-populated with some trip. Then, when choosing a trip it should return an itinerary corresponding.

Also, such widget does not seem useful on the production website. However, I can see how for a demo website

[2015-11-02 16:31] jailby opened #116 "Unused Images"
In the folder [src/client/images](https://github.com/CUTR-at-USF/usf-mobullity/tree/mobullityrebase/src/client/images) that contain all images, some images seem to not be used anymore.

For example:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/images/otp_logo_40px.png
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/images/otp_logo_darkbg

[2015-11-05 02:11] jmfield2 commented on #114
Is this when you click the 'stop viewer' link inside the marker popup (the link under 'alumni dr @ leroy in the screenshot), or when you click stop viewer from the gear/settings icon?

The former _should_ work, but I agree the latter does not.

[2015-11-05 15:28] jailby commented on #114
Sorry, maybe I should mention in the issues I made that, for all, I access it via the gear button.

These issue are just here to keep a reminder that these widget won't be accessible but were there at some point (and thanks to  git can be fetch back).

[2015-11-05 15:28] #114 closed, assigned to jailby

[2015-11-05 15:53] jailby commented on #113
In order to delete this widget correctly the following block of code need to be deleted:

The first one is located in [config.js](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/config.js#L192)
(The comment above elated to thisblock should also be deleted)

[code]

The second one is located in [Webapp.js](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobulli

[2015-11-05 16:03] jailby commented on #113
Actually I think I might have missed the css definition of this widget:

Located in [style.css](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/style.css#L261)

[code]

[2015-11-05 16:48] jailby opened #117 "Gear button deletion"
The gear button need to be deleted.

Here is a list of elements that need to be deleted:

[gear icon image](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/images/gear.svg)
[The css associated with the button](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/style.css#L241) until [there](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobu

[2015-11-06 06:09] jmfield2 commented on #35
Seems like the only sub-issues left to-do from this issue are:
1) Improvements to the Trip Planner / Itinerary view ("enhancement")
2) Tab colors
3) Make sure layers isn't too big on mobile

Also, it seems like #3 is fixed since it is sized to fit the contents. Confirm?

[2015-11-06 13:56] jailby commented on #35
For 1) we probably need a separate issue and for 2) there is already an issue about it.

Once an issue for 1) is created we can close this issue.

[2015-11-06 14:13] barbeau commented on #35
Resizing widget (3) still isn't fixed - if you switch to the layers tab there is still a lot of white space.  Let's move that to its own issue also.

[2015-11-06 15:11] jailby opened #119 "Layer widget should be resized to reduce white-space"
The following is a screenshot of the layer widget on **desktop**:
![image](https://cloud.githubusercontent.com/assets/1370401/11000083/b5b8c0de-846d-11e5-9496-e99560e42878.png)

The following is a screenshot of the layer widget on **mobile**:
![image](https://cloud.githubusercontent.com/assets/1370401/11000125/fa4efea2-846d-11e5-9a63-db7b7171d1af.png)

As you can see the layer widget appear with a

[2015-11-06 15:40] jailby opened #120 "Improve itinerary returned and trip planner widgets"
I personally think that having to separate widget for "itinerary returned" and "trip planner" is not the best solution in term of usability.

It is not easy for a user to switch options in the trip planner if the itinerary return is not convient for him/her.

Other open trip planner fork handle this situation differently.

For example, [this one](http://opentripplanner.usf.edu/index.html#/submit&f

[2015-11-06 15:42] jailby commented on #35
I am closing this issue because it has been broken down in multiple sub-issues.

1) Improvements to the Trip Planner / Itinerary view ("enhancement") #120
2) Tab colors #107
3) Make sure layers isn't too big on mobile #119

[2015-11-06 15:42] #35 closed, assigned to nobody

[2015-11-06 15:53] barbeau commented on #120
Yeah, I've never liked the whole separate floating widgets thing.  I'd vote for a change where both sets of info are managed within a single window.  I'm not sure if the tabs solution is best either, though - I've never thought that opening new results in separate tabs was very intuitive.  We should collect some screenshots of other native/web apps to see how they are handled.

[2015-11-09 16:14] jailby opened #122 "Better visual of the menu"
The menu looks good but can be improved.

Between the buttons "Layers" and "Help" a separator would make it easier for the user to understand the two different category of action.

An icon for each menu button would be helpful. The same way that [this website is doing it](https://fossdroid.com/).

[Material Design Lite](http://www.getmdl.io/started/index.html) is providing a lot of [icons](http://

[2015-11-09 16:35] jailby commented on #117
5ad7cd1

[2015-11-09 16:46] barbeau commented on #122
My personal preference is to have icons for the main "modes" of the application, and then a separator, and then the other categories (e.g., Settings, Help) without icons - see this screenshot of OneBusAway Android as a reference:

![image](https://cloud.githubusercontent.com/assets/928045/11039796/5d25b190-86d7-11e5-96a7-fc2e137b5139.png)

I prefer:

![image](https://cloud.githubusercontent.com/as

[2015-11-09 16:55] barbeau opened #123 "Add more space between start and end fields in Trip Planner widget"
From Renee Hunt at USF:

[2015-11-09 16:57] barbeau opened #124 "Better visibility of "switch fields" button"
From Renee Hunt at USF:

I agree, it's currently hard to see.  I agree that making the arrow black on the gray button background is probably the best solution.

[2015-11-13 02:21] #49 closed, assigned to jmfield2

[2015-11-13 11:40] jmfield2 opened #125 "Stops Layer Refresh"
**Problem**

Perhaps related to mobile usability/responsiveness, the stops layer redraws all markers regardless of whether they were already drawn each time a drag event occurs on the map.  This causes the markers to flash and update too often which I think is affecting clickability in some cases.

Additionally, there is an ajax call to loadStopsInRadius (part of TransitIndex) that may or may not

[2015-11-17 02:55] #119 closed, assigned to nobody

[2015-11-17 03:02] jmfield2 commented on #79
NOTE: SocialBicycles announced support for new "GBFS" opendata JSON endpoints on Friday November 6, 2015 @
http://usf.socialbicycles.com/opendata
Tampa's Coast is also available @ http://coast.socialbicycles.com/opendata

A simple JSON updater will be pushed this week to implement support for this as well as the original OAuth structure.

[2015-11-17 15:06] barbeau opened #127 "Add "CUTR" as point-of-interest"
Right now "CUT" geocodes to the proper location, but the app doesn't recognize the more natural "CUTR".  I'll add this in a PR shortly.

[2015-11-17 15:10] barbeau commented on #127
This is mainly an issue when the auto-complete doesn't trigger, and the lookup of locations happens when clicking on "Plan Your Trip".

[2015-11-19 01:55] jmfield2 commented on #127
Fixed by 6795dfdda320ac9513f16a8b396f0e84f7df1e33

[2015-11-19 01:55] #127 closed, assigned to barbeau

[2015-11-24 16:38] barbeau commented on #100
Here's the first set of data from USF PATS for parking lot locations and names, in an Excel spreadsheet format:
[Paking Lot GPS.xlsx](https://github.com/CUTR-at-USF/usf-mobullity/files/42923/Paking.Lot.GPS.xlsx)

They will provide additional data as they create it.

[2015-12-01 14:14] #117 closed, assigned to jailby

[2015-12-09 16:39] barbeau opened #129 "Add credits to funding sources"
This one is definitely high priority - we need to acknowledge who funded the project.

We can include the following text somewhere:

The question is where this goes.  I'd prefer to avoid adding more menu entries if possible.

@jailby @jmfield2 Any ideas?

[2015-12-09 16:41] barbeau opened #130 "Replace AT&T (?) favicon with a USF icon"
Strangely, for some reason the favicon for the app is now the AT&T logo??

![image](https://cloud.githubusercontent.com/assets/928045/11691599/bdcdbb4c-9e69-11e5-812b-d6b90e9a92f6.png)

This is high priority and should be a quick fix - this needs to change to a USF logo.

[2015-12-09 16:42] barbeau commented on #130
We can use the same one that http://www.usf.edu/ is using:

![image](https://cloud.githubusercontent.com/assets/928045/11691651/f92278ae-9e69-11e5-94b4-a3cd5bf0024e.png)

[2015-12-09 20:03] jailby commented on #129
I would see that in a category "about". However, if you don't want to add any other entry to the menu it could be fitted in the widget opened by "send feedback".

[2015-12-09 20:11] jmfield2 commented on #129
I would say either in send feedback or in the help widget since often about
information is found somewhere around help in other applications

There is also the welcome widget in case we want to more prominently show
this
On Dec 9, 2015 3:03 PM, "jailby" notifications@github.com wrote:

[2015-12-09 20:18] jailby commented on #130
For me it is the google logo:
![image](https://cloud.githubusercontent.com/assets/1370401/11697487/cfb99556-9e87-11e5-9a4d-9c59b6b5250c.png)

Can I inspect the element on usf.edu and take the logo or do we need to request it through UCM?
http://www.usf.edu/ucm/marketing/logos/other.aspx

[2015-12-09 20:23] barbeau commented on #129
Yeah, let's try in the Help widget, and adding it to the Welcome widget also.

[2015-12-09 20:24] barbeau commented on #130
@jailby Yeah, go ahead and grab the logo directly from the site via insect element.

[2015-12-10 17:10] jailby commented on #122
How does this looks:
![image](https://cloud.githubusercontent.com/assets/1370401/11722424/a56026ee-9f36-11e5-9bba-366f1ae6e7c1.png)

It is not really pretty in term of code. I found a kind of hack by adding another li item with an hr tag in it. I can style the hr tag the way we want now. The thing that I don't find pretty about is the fact to have another item just for styling.
My first thoughs we

[2015-12-10 17:28] barbeau commented on #122
For the separator, I'd prefer a lighter gray, like what's in the OneBusAway screenshot.

Also, we should take a look at changing the hamburger menu color from white to match the gold of the USF logo, or changing the USF logo to white.  I think the white hamburger with the gold logo looks a bit strange.

[2015-12-11 16:40] barbeau commented on #122
Here are the colors used in the OneBusAway nav drawer, which I believe is consistent for standard Android design:

![image](https://cloud.githubusercontent.com/assets/928045/11039796/5d25b190-86d7-11e5-96a7-fc2e137b5139.png)

When an item with an icon is selected:
- Background color is set to `#11000000`
- Icon color is set to the theme color (for us, the USF green - `#006747`)
- Text color is set

[2015-12-11 16:52] jailby commented on #129
The credits have been added to the "help" widget and the following is a screenshot of the result:
![image](https://cloud.githubusercontent.com/assets/1370401/11749805/d13cd704-9ffd-11e5-9cdf-da6341cee20b.png)

[2015-12-11 16:52] #129 closed, assigned to nobody

[2015-12-11 17:05] jailby commented on #107
Here are the colors used in the OneBusAway nav drawer, which I believe is consistent for standard Android design:

![image](https://cloud.githubusercontent.com/assets/928045/11039796/5d25b190-86d7-11e5-96a7-fc2e137b5139.png)

When an item with an icon is selected:
- Background color is set to `#11000000`
- Icon color is set to the theme color (for us, the USF green - `#006747`)
- Text color is set

[2015-12-11 17:05] #122 closed, assigned to jailby

[2015-12-11 17:08] barbeau commented on #129
@jailby Thanks!  Could you add a reference to the commit with the addition here too?

[2015-12-11 17:11] jailby commented on #107
Latest comment on this:

1) The usf logo should probably be white to be consistent with the color of the menu's button.

2) The darker green should be changed to the usf green `#006747`

3) The light green should be changed to either the usf gold `#CFC493` or the usf green `#006747` depending on which one looks better.

4) The selection coloration (when a widget is opened the menu's button corresp

[2015-12-11 17:14] barbeau commented on #107
According to http://usfweb4.usf.edu/ucm/marketing/colors.aspx, USF Gold hex is `#CFC493`.

[2015-12-11 17:14] jailby commented on #129
f614f0b

[2015-12-15 15:17] jailby opened #132 "Coloring the menu item of the selected widget"
When a widget is visible the corresponding item in the menu should be colored. The color choose at the moment is the USF green `#006747` (it need to be tested to make sure it looks good).

This coloring is only for the trip planner and layers widgets.

There is multiple things to change:

1) Color depending on the attribute given in the url:
This change should be reflected [here](https://github.co

[2015-12-17 06:54] jmfield2 commented on #116
Using find/grep/comm, I found a list of about 70 images that don't appear to be used anywhere in the project.  There were some leaflet images that were not found but yet are used either because of a CDN or the filename isn't exactly found in a file.

The scripts to generate the list of files:

[code]

then the css,js,html.txt will have each image file followed by the files in which it was found -

[2015-12-17 14:51] jailby commented on #116
I thought some of the images/directions were used for the itinerary returned.

That's a good a way to find out a massive number of image that might not be used.

[2015-12-17 15:46] jailby commented on #100
I want to make sure of the naming convention.

The following is my opinion on the naming convention. When I will add the parking lots I will use these conventions. If you want to change anything just post here and I will follow the changes.

When the parking lot as an actual name:
"Actual name" example "Collins Garage" or "Apple"
When the parking lot is only designed by a number with an optional l

[2015-12-17 16:01] barbeau commented on #100
@jailby That sounds good to me.  The only change I would make is for lots like "Apple", add a designation that its a parking lot.  So, something like `Apple (Parking lot)`.  Otherwise, from the auto-complete it won't be obvious if its a street name, building, or lot.

[2015-12-18 14:47] jmfield2 opened #134 "Bikeshare Marker Clustering"
Sometimes the bikeshare bike icons can be positioned very close together - it would be nice to implement the clustering similar to how socialbicycles behaves when this happens (one icon with the # of bikes in close proximity, and zooming in or clicking the icon reveals the additional bikes in a way that makes clicking the new markers easy)

A leaflet addon that does this:
http://leaflet.github.io/

[2015-12-18 14:52] jmfield2 opened #135 "Trip planner slowdown"
Over the past week, JB noticed that the trip planner was taking much more time than normal to create a plan.  The service did not seem to be exhibiting any clear signs indicating an issue when I connected, and the memory available on the server was not unusual.

Restarting the mobullityOTP service seems to have cleared the problem up for now.

Some thoughts:
- Last month I added -Xmx2G parameter t

[2015-12-18 21:32] jailby opened #139 "Title of the web app"
Currently the name of the web app is "MoBullity".

This has to change to "USF Maps".

The only change to do should be [here](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/config.js#L88).

Also, [this line](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/index.html#L9) is probably some dead code. It seems that way because the title

[2015-12-22 05:15] barbeau commented on #43
This may be caused by https://github.com/opentripplanner/OpenTripPlanner/issues/2191

[2015-12-28 12:44] jailby commented on #130
1982c04

[2015-12-28 12:56] jailby commented on #113
These two commit fixed this issue:
https://github.com/jailby/usf-mobullity/commit/1122fcfff8270796ac2291dddb842441e641c6ea
https://github.com/jailby/usf-mobullity/commit/5ad7cd1da2d23d6ff5fa7ef5cd259b7072b5d7c0

[2015-12-28 12:56] #113 closed, assigned to nobody

[2015-12-28 12:58] jailby commented on #117
https://github.com/jailby/usf-mobullity/commit/637e0b493c70b64d63a513640025ea5b4cb8a456

[2015-12-28 12:59] jailby commented on #115
fixed because this is a sub issue of #117

[2015-12-28 12:59] #115 closed, assigned to nobody

[2015-12-28 13:00] jailby commented on #46
This issue has been broken down in smaller issues. Some are fixed and other are in progress.

There is no need for this issue to still be open.

[2015-12-28 13:00] #46 closed, assigned to jailby

[2015-12-28 18:06] #130 closed, assigned to jailby

[2015-12-31 10:35] jailby commented on #132
This has been done over multiple commit in the following PR:
https://github.com/CUTR-at-USF/usf-mobullity/pull/131

[2015-12-31 10:35] #132 closed, assigned to jailby

[2016-01-05 10:08] jailby commented on #124
The switch button come from the following file(from official otp):
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/images/reverse.png

I was thinking about it and I see two option:

1) Modify the existing one
I personally don't like much the original but we could modify it to make it look better. Also making it bigger could help in term of visibility.

2) Find a better

[2016-01-05 10:53] jailby commented on #107
1)

The following is a screenshot with the usf logo in white:
![image](https://cloud.githubusercontent.com/assets/1370401/12112531/1ec12dce-b36b-11e5-8c86-0513a6d4fdcf.png)

I like it but I would like to point out that this is **not** an [official USF logo](http://usfweb4.usf.edu/ucm/marketing/logos/logo-download.aspx).

2)

I believe from [this line](https://github.com/CUTR-at-USF/usf-mobullity/b

[2016-01-05 13:45] jmfield2 commented on #135
Over the past week I've done some more troubleshooting on this including the following:
- Testing without any Graph updaters (Bus/Bike) (by removing Graph.properties temporarily)
- Testing long distance mode (-l cmdline)
- Testing on a different machine (my laptop) with the same tampa graph (using OpenJDK 8)
- Updating to the latest 64-bit Java8 from Oracle

Nothing helped this except the last two

[2016-01-05 14:20] barbeau commented on #135
@jmfield2 Thanks for troubleshooting this.  I know Oracle is pushing hard to get everyone off Java 6 & 7, so it could definitely be a JDK/JRE bug.  If JRE 8 seems to solve the issue and nothing else falls apart, let's go with it.

[2016-01-05 14:31] barbeau commented on #107
@jailby Thanks for looking at this!  I agree that the all USF green looks best, and I like the USF white logo.  Could you add a screenshot with how the all USF green looks on mobile?  If mobile looks good too, let's go with this combination.

[2016-01-05 14:33] barbeau commented on #107
IMHO, we should also change the colors of the header of the minimized windows (i.e., "Layers" in the above screenshots) to match the open window - so, text would be white, and background color would be USF green.

[2016-01-06 09:48] jailby commented on #107
The color setting of the headers background of the minimized windows can be found [here](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/style.css#L460).
The color setting for the text needed to be added.
The following is  a screenshot with the header background color changed to usf green and the text to white:
![image](https://cloud.githubusercontent.com/assets/137040

[2016-01-06 14:24] barbeau commented on #107
@jailby Looking good!  Yes, I would change the itinerary box, legend window, and send feedback window to all be white text on USF green.  I like the clean look of the green and white.

[2016-01-06 16:35] jailby commented on #107
In the three following screenshot we can see that both the legend and send feedback window have their color changed.

Screenshot on desktop:
![image](https://cloud.githubusercontent.com/assets/1370401/12147515/58256ba0-b467-11e5-8f31-846a862b51c4.png)

Screenshot on mobile:
![image](https://cloud.githubusercontent.com/assets/1370401/12147904/77c1dcee-b469-11e5-8bd9-b11680e70d98.png)
![image](https

[2016-01-06 16:43] jailby commented on #107
@barbeau this looks almost done but I noticed some things that we may want to change in term of color.

First the text in the layer widget is black whereas the text in the trip planner is the usf green. For the seek of consistency we may want them the same color?

Second all widgets have a "toolbox" associated which allow the user to minimize etc..
The following screenshot illustrate what I'm desc

[2016-01-06 17:30] barbeau commented on #107
@jailby Good catch.  I think black text everywhere in the body is probably best.  So, trip planner text would be changed to black.

I would also change the widget toolbox background color on hover to the same "selected" gray color we're using for the main menu to show that "Trip planner" or "Layers" is selected.  This way the "selected" item color is consistent.  And, if possible, the text on hove

[2016-01-06 17:33] barbeau commented on #107
I also just noticed that the "TRIP PLANNER" text in the widget title bar is all upper-case, both when the trip planner widget is minimized and maximized.  We should change it to "Trip planner" to match the menu and case of the "Layers" widget.

![image](https://cloud.githubusercontent.com/assets/1370401/12147904/77c1dcee-b469-11e5-8bd9-b11680e70d98.png)

[2016-01-06 18:18] jailby commented on #107
todo list:
- "TRIP PLANNER" to "Trip planner" _Done_
- trip planner body text should be black _Done_
- toolbox color change

@barbeau I'm sorry but can you explain me again the color change that you would like.

I'm confuse on your utilization of the word "selected". There is two gray in the menu.
I believe that what you want is the lighter gray, right? If so no need to read the next paragraph.

T

[2016-01-06 21:05] barbeau commented on #107
Yes, correct - the gold below should be changed to light gray.

![image](https://cloud.githubusercontent.com/assets/928045/12154740/503d38e6-b48f-11e5-8903-b55e72cf0d80.png)

[2016-01-07 06:11] jmfield2 commented on #107
So, I looked at the screenshots and everything looks good but I noticed a couple of things that I don't think I saw mentioned above:

First, the tabs are mostly green but seem to have a slight border around the top that is a different color (the same as before, perhaps?) ... I believe this is from the border-radius or something similar.

Also, the color of the minimize and maximize buttons being a

[2016-01-07 09:54] jailby commented on #107
Yes there is  a border around the tabs I noticed it and there is one around the itinerary window also (for example). I think they are either 3 or 1 pixel.

I wanted to talk about it in the next meeting we will have. I think it look better and kind of show a delimitation between the tab and the map. I think there should be one for the layer and trip planner widget as well as the top ribbon (the one

[2016-01-14 14:19] #139 closed, assigned to jailby

[2016-01-15 19:41] barbeau commented on #54
Re-opening this - we need to double-check that everything is working in context of the load balancing.

[2016-01-15 19:55] barbeau commented on #54
@jmfield2 and I just looked at this in the GA web console, and changed the "Default URL" in "Property Settings" to be `http://maps.usf.edu/" instead of "http://mobullity.forest.usf.edu".  We're going to leave this open for now so we can check back in and make sure everything is still registering correctly in GA.

[2016-01-20 04:03] #79 closed, assigned to jmfield2

[2016-01-20 14:15] jmfield2 commented on #107
Sorry, here are the screenshots for the widget border and size issues:

Note how the trip planner has no border between the top bar and the widget title (first red box) on the full width desktop vs smaller resized screen.  The widget is also much taller and has less inner padding then the layers widget on the desktop size.

![107-1](https://cloud.githubusercontent.com/assets/3628509/12451064/2fea4

[2016-01-20 14:27] barbeau commented on #107
I agree that the small spacing between the Trip planner widget and top USF bar on the smaller screens looks good - we should change to use this for all screen sizes for Trip planner and Layers widgets.

I also agree that we should increase the inner margins on the Trip planner widget to give it more breathing room, similar to how the inside of the Layers widget is spaced.  And we should remove the

[2016-01-21 14:05] jailby commented on #107
What about the shadow on the control button of the widgets? Did you discuss this during the last meeting?

[2016-01-21 14:23] jailby commented on #107
By looking at the css I also notice [this block of code](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/style.css#L569).

I would like to delete it because it actually makes the info widget (e.g.: icon legend) bigger on smaller resolution.

Screenshot for my full screen window:
![image](https://cloud.githubusercontent.com/assets/1370401/12482762/6df11ca4-c01f-11e5-9c5

[2016-01-21 15:38] barbeau commented on #107
Agreed, it shouldn't be that big.

On a related note, the Help and Feedback widgets should appear on top of the Trip Planner and Layers widgets - right now they are behind them.

We didn't discuss this specifically, as far as I recall.

[2016-01-21 15:40] jailby opened #143 "infowidgets at the top"
The widget such as icon legend and contact should be at the top.

This is a z-index change to do in the css.

[2016-01-21 15:43] jailby commented on #107
Ok, the control buttons are a problem. I will elaborate tomorrow during the meeting.

I quickly created another issue for the "on top" thing to not loose it in this big issue.

I'm still working on the border and everything for the trip planner and layer widget.

[2016-01-22 02:45] barbeau opened #145 ""X" in Welcome window is invisible"
On maps.usf.edu, if you open the window in Incognito mode to imitate the first visit to the site, the "X" button to close the welcome window is invisible.  As a result, users can't close it and can't use the app.

We need to fix ASAP and roll out a new version to maps.usf.edu.

[2016-01-22 02:46] barbeau commented on #145
@jmfield2 could you please help with this one to get a fix out quick?

[2016-01-22 04:08] jmfield2 commented on #145
Should be fixed by #146

[2016-01-22 04:09] #145 closed, assigned to jmfield2

[2016-01-22 05:20] barbeau commented on #145
Thanks @jmfield2!!

[2016-01-22 14:43] barbeau opened #147 "Welcome window message needs to be updated"
The current Welcome window text reflects the old "pre-menu" UI:

![image](https://cloud.githubusercontent.com/assets/928045/12513497/0d573f68-c0ec-11e5-8f22-60db7a0426aa.png)

We should update this to be the following bullet points:
- Use the menu button to change between the Trip Planner and Layers features
- To set your trip "Start" and "End", type your building name or abbreviation into the box

[2016-01-22 15:04] jmfield2 opened #148 "Leaflet Locate Alert on Error"
The leaflet locate control currently still processes map geolocate hooks including errors (like when the user does not allow or denies the permission) and this causes an alert to popup (via alert();) which might be annoying/confusing for users.

I think a quick workaround/fix would be to replace the alert code with something less annoying like console.log - Do we want to do this, or keep the behav

[2016-01-22 15:26] jmfield2 commented on #148
Another option is to change the error message to be more helpful.

I tested this behavior on an ios simulator (https://appetize.io/demo?device=iphone6plus&scale=50&orientation=portrait&osVersion=9.2) with safari and I was prompted for the location - 2-3 times.

I guess the GPS of the simulator has other issues but we should check that there isn't any other strangeness there.

[2016-01-22 16:12] barbeau commented on #148
@jmfield2 What does console.log look like?

I think changing error message may be enough - something like "To see your real-time position on the map, please allow USF Maps to access your location".  Or something better than that :).

[2016-01-22 17:45] jmfield2 commented on #48
I did some work on refactoring the bus positions layer and the SVG markers to include a white border:

![screenshot from 2016-01-22 12 36 36](https://cloud.githubusercontent.com/assets/3628509/12518257/7f10e9c4-c105-11e5-9ab1-4ca4c47d755e.png)

I think the arrows also need the white border, but otherwise does this seem like an improvement?

I changed the style of the marker itself to simplify the

[2016-01-22 18:40] barbeau commented on #48
Cool!  I think this is an improvement - I agree that adding a white outline to the arrow would be good too.  I would suggest sizing them the same as the new bike share icons (which I really like, BTW).

That's a good question.  I think I'd like to have more consistent iconography on our site, rather than just copying the others.  This will be helpful as we start adding more layers too.  So, with t

[2016-01-26 03:00] #147 closed, assigned to jailby

[2016-01-26 04:20] jmfield2 opened #152 "Stop Viewer Broken Links in Itinerary"
Also the Trip Viewer as shown in:

![screenshot from 2016-01-25 23 13 25](https://cloud.githubusercontent.com/assets/3628509/12572419/3a451d94-c3ba-11e5-8c09-b06563e6ddf0.png)

should be removed until the corresponding modules are fixed per #111 and #21

[2016-01-26 13:31] jailby commented on #111
Link to this widget was still available see #152

This link has been deleted through the following commit: 18b455e4443f93555eb47e9aba7801833ebb1198.

Should be re-added when #21 is fixed

[2016-01-28 03:37] #148 closed, assigned to nobody

[2016-01-28 03:37] #152 closed, assigned to nobody

[2016-01-29 06:21] jmfield2 opened #154 "HART Itinerary color"
Currently the color of HART itineraries is showing up as orange (the default for BUS trips, defined in modules/planner/PlannerModule.js getModeColor

![screenshot from 2016-01-29 01 16 31](https://cloud.githubusercontent.com/assets/3628509/12668608/626c7ca4-c626-11e5-81d9-e3c99e940bcf.png)

The preferred color is actually blue (#0000FF) ... the actual color of the HART logo is: #093c71

This was c

[2016-01-29 20:01] #154 closed, assigned to nobody

[2016-01-30 04:51] barbeau opened #156 ""My Location" button doesn't seem to work"
On Chrome on my laptop from home.

Steps to reproduce:
1.  Open maps.usf.edu
2.  Wait for your position to show on map
3.  Drag map away from your position
4.  Click on "My location" button

What I see:
- Nothing happens

What I expect:
- Map should reposition and center on my location

@jmfield2 Could you please take a look at this?  Should be top priority as it seems broken on production.  Thank

[2016-02-04 14:46] jmfield2 commented on #156
I think this is happening because since disabling the Locate button code to only use our local geolocate callbacks, it would not have much to do once enabled unless the user actually moves (thus triggering the callback).  There may be another issue that is preventing the appropriate style from cycling upon subsequent clicks (the icon should go between black and blue which corresponds to toggling t

[2016-02-05 06:46] jmfield2 opened #159 "Enterprise Car Share Layer"
As an additional entry in the layers widget (for now), the following option should be added to toggle showing these two markers (in green):

Under "Other" heading (right, @barbeau ?)
"Enterprise Car Share"

(from https://www.enterprisecarshare.com/us/en/programs/university/usf.html)
![screenshot from 2016-02-05 01 44 29](https://cloud.githubusercontent.com/assets/3628509/12839725/301525f6-cbaa-11e

[2016-02-05 06:55] jmfield2 opened #160 "Parking Lots Layer & Points of Interest"
The various parking lots on campus should be added to layers corresponding to the permits that they allow.

S Non-Resident Student, R Resident Student, Y Park-n-Ride / Alumni, GZ - Gold Staff, E - Staff,
D - Daily/Visitor
http://www.usf.edu/administrative-services/parking/documents/parkingmap.pdf

Also note, (related to #159) that other points are reflected such as the car share, hourly/metered pa

[2016-02-05 07:02] jmfield2 opened #161 "Zoom Level and Layers UX Interaction"
I noticed that if for some reason you zoom to a level that the a given layer won't operate, there is no indication of this to the user when they attempt to toggle the layer on.

Some possible solutions to make this more friendly could be:
1) 'light' popup,
2) flash a message near the ribbon or at the top of the map,
3) indicate the layers items as unavailable/grayed

I believe in our discussion so

[2016-02-05 07:12] jmfield2 opened #162 "Geocoder URL"
The external geocoder URL is currently hard-coded into the javascript as the dev server @
http://mobullity.forest.usf.edu:8181 (here https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/core/Geocoder.js#L20)

To avoid any unnecessary performance issues with production, and to take advantage of the load balancing, maps.usf.edu is enabled to forward requests on to the

[2016-02-05 16:08] barbeau commented on #159
Yes, let's put this in a new category:
- Other
  - Enterprise CarShare

Others might have feedback after it goes live and we may need to change, but this is a good start.

[2016-02-05 16:34] jailby commented on #124
I swapped the swap button from the upstream OTP one to the [material icon one](https://materialdesignicons.com/icon/swap-vertical).

I also made it bigger to increase its visibility (+4px for width and +6px for height). It is 30*30px atm, I tried other size and this one was the one that looked the best. It should look even better with more room to breath.
I'm currently working on adding a bit of s

[2016-02-05 16:48] barbeau opened #165 "Save most recently viewed widget, show at startup"
If a student mainly uses the Layers widget, currently each time they use the site they have to go to the menu and switch from the Trip Planner (the universal default) to the Layers widget.

We should save the most recently used feature, either Layers or Trip Planner, and default to that view when the user opens the page.

@jailby could you please work on this?

[2016-02-05 18:59] jailby commented on #124
So I added some breathing room and since I was there I added some space to fix #123.
There is more space above the start field, after the end field, and also between them.

Here is a screenshot:
![image](https://cloud.githubusercontent.com/assets/1370401/12855972/7cc5b850-cc10-11e5-8761-3f02fda256d7.png)

[2016-02-05 19:09] jmfield2 commented on #159
The official map icons from that link seem to be:

https://www.enterprisecarshare.com/content/dam/ccw/icons/map-icons/map_active_pin.png

and

https://www.enterprisecarshare.com/content/dam/ccw/icons/map-icons/map_inactive.png

[2016-02-05 19:15] jmfield2 commented on #159
Lat,Lng positions also: 28.059951, -82.417575 and 28.064287, -82.412130

[2016-02-05 20:37] jmfield2 commented on #159
https://materialdesignicons.com/icon/car

[2016-02-05 21:22] jailby opened #166 "Add the hash #widget to the url"
When a user click on a specific widget from the menu, it's corresponding hash should be added at the end of the url.

Trip planner widget: http://maps.usf.edu/#trips
Layers widget: http://maps.usf.edu/#layers

Bonus when a user minimize a widget it would be even cooler if the hash was replaced by #map.
No widget shown: http://maps.usf.edu/#map

[2016-02-05 21:26] jailby opened #167 "Removing the minimized tab"
The trip planner and layers widgets can be minimized.
They then appear at the bottom left of the screen.

This somewhat obstruct the visibility of a part of the map.

Also, these elements don't interact has wanted when clicked on it.
If the minimize tab is clicked the widget appear on top even if there was another widget present. This stacks the widgets and does not look good.

Removing this tab w

[2016-02-05 21:36] jailby opened #168 "Map localization on mobile"
**Problem:** When opening the map, on mobile, the blue circle indicating the position of the user is hidden by the trip planner widget. The location of the map is not ideal even for the layer widget.
Screenshot of the problem:
# trip

![image](https://cloud.githubusercontent.com/assets/1370401/12859690/f87b52f6-cc25-11e5-8104-cf6c06724e13.png)
# layers

![image](https://cloud.githubusercontent.com

[2016-02-05 21:54] barbeau commented on #168
+1 - When the Layers and Trip Planner widgets are used as the opening screen, we should position the screen so the user's real-time location is centered in the open space below, something like:

![image](https://cloud.githubusercontent.com/assets/928045/12860206/2531a388-cc29-11e5-86fe-d0692a100d7e.png)

[2016-02-06 00:00] barbeau commented on #166
+1 - main purpose of this is to enable users to easily copy/paste or
bookmark the individual widget views.
On Feb 5, 2016 4:22 PM, "jailby" notifications@github.com wrote:

[2016-02-06 02:02] #162 closed, assigned to nobody

[2016-02-06 02:05] jmfield2 commented on #156
#158 should fix this

[2016-02-06 02:05] #156 closed, assigned to jmfield2

[2016-02-07 03:50] barbeau commented on #161
I'm thinking something similar to this in shape and position, maybe with an alpha on the background:

![1454727841260-1858983489](https://cloud.githubusercontent.com/assets/928045/12870814/cb759146-cd23-11e5-9388-0db6880e19f8.jpg)

[2016-02-08 16:40] barbeau opened #170 "Add campus blue light phones as new layer"
Related to https://github.com/CUTR-at-USF/usf-mobullity/issues/160, but I'm splitting this out here due to priority.

Today USF requested that we add the blue light emergency phones as a new layer.  For now, let's call them "Blue Light emergency phones" under the "Other" category.

@jmfield2 Could you please prioritize this, and see if you can get it into production by the end of this week?

Hard-

[2016-02-08 16:49] jailby opened #171 "Even margin above and under "Plan your trip" button"
task:
Even margin above and under "Plan your trip" button.

I'm having a problem with it because the margin above appear because of the hr tag that creates the separator. The bottom margin of hr tags is .5em.
While the padding of the inner trip planner div tag is 5px.

I hesitated between changing the margin to 5px for hr tags and deleting this specific hr tag.
Changing the margin for all hr tags

[2016-02-08 17:17] barbeau commented on #170
Let's use a blue marker for these with a white phone icon in the middle - normal material design phone icon should work:
https://materialdesignicons.com/icon/phone

If we want to get creative we could try including the alert icon in the marker as well (or just an exclamation point), but that's likely to get pretty crowded:
https://materialdesignicons.com/icon/alert

In the pop-up balloon, let's in

[2016-02-08 19:49] barbeau commented on #171
Removing hr tag is ok with me.  I think I like the look better with it (it separates action "Play trip" button from option controls), but without it is ok too.

[2016-02-09 15:53] jailby commented on #171
So I tried to not removing the hr tag.

I was able to change the bottom border of the of the trip planner widget to `.5em`. My previous attempt where overshadow so that's why I couldn't do it.

Here is a screenshot of how the trip planner widget look like now:
![image](https://cloud.githubusercontent.com/assets/1370401/12921429/4d27a7f8-cf1b-11e5-8360-58de99d1ebc7.png)

[2016-02-09 16:38] barbeau commented on #171
Looks good to me!

[2016-02-09 21:12] jailby commented on #124
The following screenshot is the latest look of the switch button, and I think it looks good:
![image](https://cloud.githubusercontent.com/assets/1370401/12930678/b7056364-cf47-11e5-9d12-e79713cd7123.png)

I had some trouble getting the button to not be outside of the trip planner and therefore half hidden.

[2016-02-09 21:14] jmfield2 commented on #124
I think this is a big improvement actually - how did you fix it?
On Feb 9, 2016 4:12 PM, "jailby" notifications@github.com wrote:

[2016-02-09 21:15] jmfield2 commented on #124
Actually the start arrow isn't aligned with the box (maybe it wasn't ever
lol) but otherwise looks pretty good
On Feb 9, 2016 4:14 PM, "icmp" icmp@icmps.org wrote:

[2016-02-09 21:17] jailby commented on #124
I had to play with the size of things a lot.

There is actually three object and that's why they were conflicting. There is a first div containing the button and then the image. I had to change the size margin and padding of these objects to get these result.

Also, the "drop down" button for the text field are of 1px I think. I need to look into it.

[2016-02-09 21:32] jailby opened #172 "Light green within the layers widget"
Currently there is some light green inside of the layer widget:
![image](https://cloud.githubusercontent.com/assets/1370401/12931175/6043face-cf4a-11e5-8011-31956be761ab.png)

I changed it to black:
![image](https://cloud.githubusercontent.com/assets/1370401/12931213/8ecff0fa-cf4a-11e5-9e50-da89cf574ab3.png)

I also tried with the USF green but it so fine that we could only notice that it was "dar

[2016-02-09 22:21] barbeau commented on #172
@jailby I'd prefer to have the inside lines that are currently light green be the same gray that's used for the exterior box border.  I think the black is too heavy - it shouldn't be the focus, just a light separator for the different types of information.

[2016-02-09 22:28] jailby commented on #172
The following screenshot is with the gray instead of black (it still looks dark):

![image](https://cloud.githubusercontent.com/assets/1370401/12932755/600a7936-cf52-11e5-8869-be1c6b7548cc.png)

[2016-02-09 22:28] jailby commented on #172
I feel like its hard to tell the difference because of the contrast with the white background.

[2016-02-09 22:29] barbeau commented on #172
@jailby I agree - how about a lighter gray?

[2016-02-09 22:29] barbeau commented on #172
Actually, are you sure that's gray?  Looks like black when I zoom in.

[2016-02-09 22:31] barbeau commented on #124
Looking much better!

[2016-02-09 22:39] jailby commented on #172
Sorry wrong screenshot:
![image](https://cloud.githubusercontent.com/assets/1370401/12933056/186bb6e2-cf54-11e5-8d3a-ca19491d4a63.png)

[2016-02-09 22:47] barbeau commented on #172
I actually think that is reasonable. What do you think?

[2016-02-09 23:08] jailby commented on #172
I tried with a ligther gray `#d3d3d3` and I can't decide which one is better:
![image](https://cloud.githubusercontent.com/assets/1370401/12933748/c7b2e960-cf57-11e5-96c4-3f33e44dad29.png)

For the sake of consistency I would choose the first gray but the light gray looks good too.

[2016-02-09 23:10] jailby commented on #124
@barbeau what do you think of the problem that we are mentioning with @jmfield2 ?

I was looking into it but I haven't found how to fix it yet. The drop down button for the start field seem to be 2px down from where its suppose to be.

[2016-02-09 23:18] barbeau commented on #172
I'd do the first gray - consistency is good, and I think the light gray is a little too light.  It doesn't provide as much visual separation at a glance.

[2016-02-10 02:17] jmfield2 commented on #170
Here are some screenshots of two icon styles:

![screenshot from 2016-02-09 20 57 57](https://cloud.githubusercontent.com/assets/3628509/12937028/545df25a-cf72-11e5-8469-f42f0d312749.png)

![screenshot from 2016-02-09 20 40 08](https://cloud.githubusercontent.com/assets/3628509/12937029/5469bf68-cf72-11e5-85a1-74cbffd1296c.png)

I think I like the phone by itself..

Looks like it is almost ready t

[2016-02-10 02:37] barbeau commented on #170
Agreed, phone alone is better.  Looks good!

[2016-02-10 14:35] barbeau commented on #170
@jmfield2 Here's the most recent blue light map:

[Blue Light Map-Tampa Campus.pdf](https://github.com/CUTR-at-USF/usf-mobullity/files/124893/Blue.Light.Map-Tampa.Campus.pdf)

Please be sure we're not missing any - also, please add any missing ones to OSM.  Thanks!

[2016-02-10 15:06] barbeau commented on #124
@jailby I didn't even notice that, but you're right.  I'd try to tweak and make it align, but if it takes a long time to figure this out we can leave it for now.

[2016-02-10 22:03] jailby commented on #170
I believe that there is some of these blue light in parking garages but I don't see any in on the map.

E.g.: The parking garage by CUTR has emergency phones in the staircase by Alumni Dr. I'm not totally sure though. I don't see anything on the map about it.

[2016-02-10 22:26] barbeau commented on #170
I'd stick to just the Blue Light phones (not all emergency phones) for this layer.  If we find a Blue Light phone that's not on the official USF map, we should probably clear it with USF first to make sure its not being removed or isn't fully functional.

[2016-02-11 15:21] jailby commented on #124
So the dropdown button was a pixel lower and a pixel taller.

I fixed it and I will be pushing my change after this comment.

Here is a quick screenshot:

![image](https://cloud.githubusercontent.com/assets/1370401/12980160/3381ccea-d0a9-11e5-9fcc-0c8529454117.png)

[2016-02-11 15:27] barbeau commented on #124
:+1:

[2016-02-12 03:16] #124 closed, assigned to jailby

[2016-02-12 03:16] #171 closed, assigned to nobody

[2016-02-12 03:16] #172 closed, assigned to nobody

[2016-02-12 03:18] #123 closed, assigned to jailby

[2016-02-12 03:18] #107 closed, assigned to jailby

[2016-02-12 14:02] jmfield2 commented on #170
PR is ready, I had to add 3 phones to OSM (https://www.openstreetmap.org/changeset/37168106) that were in the PDF ... I think the rest are there as far as I can tell.

The python code I used to quickly extract the latlngs from the OSM is:

[code]

[2016-02-12 14:17] jailby commented on #170
I was talking about the following one:
![image](https://cloud.githubusercontent.com/assets/1370401/13008951/b1213b90-d167-11e5-8444-194e85f532b2.png)

This is in the parking garage by CUTR and its the staircase by Alumni Dr.

We can still merge #175 but at some point it would be good to update OSM and probably contact the persons in charge of this map because I don't think the map is accurate. I'm

[2016-02-12 14:43] jailby commented on #165
I thought about this and to do so I need to add a cookie probably as follow:
`document.cookie = "widgetUsed=trip; ";`
So I have a question on where to place this.

1) Should I add it to the [onClick tag of the button](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/index.html#L233)?

2) Or should I add it to the function that unminimize the widget?

I'm not sure what i

[2016-02-12 16:16] barbeau commented on #165
My feelings is that we should manage it onClick of the menu buttons, similarly to how we're managing switching of the widget focus.

[2016-02-12 16:20] jmfield2 commented on #165
Yes, something like what you have for widgetUsed=trip -- you'll also need to set the expires parameter (http://www.w3schools.com/js/js_cookies.asp) so that it persists after the browser is closed - probably like how we did for the welcome widget.

Adding the code to the unminimize might be more correct, but it would require more work (at least to determine which widget was unmimized, etc)..  Addin

[2016-02-12 16:24] jmfield2 commented on #170
:( ya I don't think these are listed anywhere on the PDF sean posted -- they probably should be, but I didn't do anything about that yet until we confirm that's what usf wants ...

I also noticed the big hole over ENG w/o any phones (at least on the map) ... maybe they are hiding, or it's by some strange design.

Also, when I uploaded my OSM changeset, jOSM complained about the tag (amenity=emerge

[2016-02-12 16:46] jailby commented on #165
Ok I wanted to make sure it was ok to add this function to onClick.

[2016-02-12 18:36] barbeau commented on #170
Thanks @jailby for the picture!  I found a similar one in the northeast corner of parking garage by CUTR - the phone is in the stairwell, and the light is on the opposite side of the wall (outside the stairwell):

![image](https://cloud.githubusercontent.com/assets/928045/13016568/892977b2-d18d-11e5-90a3-ddbe45275645.png)

Let's stick with the official USF list for now, and merge it.  I'll follow

[2016-02-12 20:01] jailby commented on #160
Charging phone stations. There is some in the MSC. These stations have multitple cables to plug phones.

[2016-02-13 04:01] #170 closed, assigned to jmfield2

[2016-02-13 04:41] jmfield2 opened #176 "Nominatim geocoder is broken"
From today, the secondary geocoding service (backed by Mapquest Nominatim) isn't working.  The reason is below:

_correction_ The 'true' in application-context.xml specifies to ONLY use the first result unless it is empty otherwise using all results in either case.

It looks like the API requires a key as of 9/15/15:

[code]

http://open.mapquestapi.com/nominatim/

@barbeau should I sign up, or do

[2016-02-13 20:03] barbeau commented on #176
I'm now remembering that we hit this same issue in OTP Android, and the lack of key was the problem.  I'll grab a key.  I'm fine with committing it to the repository - I'd there are issues we can change to something more secure later.

[2016-02-14 20:41] jailby commented on #159
Should this issue be closed?

[2016-02-14 21:00] jailby opened #177 "Layer addition Point of Interest (POI)"
This issue will regroup the possible layer that could be added. This issue will be use to oversee the addition of new layer.

Each proposed new layer should be linked to its own issue to provide details (WIP). Feel free to propose any new layer.

**The following is the current layers:**

USF Bus Stops:
- [x] Route A
- [x] Route B
- [x] Route C
- [x] Route D
- [x] Route E
- [x] Route F

Bus Stops:

[2016-02-14 21:14] jailby opened #178 "Food services Layer"
This issue propose multiple new layer under the category of food services. The parent issue can be found [here](https://github.com/CUTR-at-USF/usf-mobullity/issues/177).
I believe that food service should be its own category (e.g.: USF Bus Routes).

Under this category we could have the following items:
- [x] Fast food which would represent the fast food restaurants in the food court of MSC as wel

[2016-02-14 21:39] jailby opened #179 "Parking layer"
This issue propose multiple new layer under the category of food services. The parent issue can be found [here](https://github.com/CUTR-at-USF/usf-mobullity/issues/177).

I believe that we should have a whole category for parking.

My reasoning for this is that if someone with a student parking wants to know where is the closest parking to the library he just has to check the layer "S: Student" in

[2016-02-14 21:51] jailby commented on #63
This issue has been reported in a more global issue about the layers. #177
Also, an issue about the food services has been created. #178

Therefore I am closing this issue.

[2016-02-14 21:51] #63 closed, assigned to jailby

[2016-02-14 21:58] jailby commented on #160
This issue has been reported in a more global issue about the layers. #177
Also, an issue about Parking has been created. #179

Therefore I am closing this issue.

[2016-02-14 21:58] #160 closed, assigned to nobody

[2016-02-14 21:59] jailby opened #180 "Campus district Layer"
This issue propose a new section to the layer widget which is "Campus district". Umbrella issue: #177.
The section Campus district could be separate in multiple layers (e.g.: Health Services).

There is different campus district as shown in the following map:
![image](https://cloud.githubusercontent.com/assets/1370401/13036682/ca4b8fb4-d33b-11e5-9f8c-35ed054c7f6e.png)

For the marker we could chan

[2016-02-14 22:06] jailby opened #181 "Athletic facilities"
This issue propose a new layer which is "Athletic Facilities". Umbrella issue: #177

In the following map some Athletic Facilities are shown:
![image](https://cloud.githubusercontent.com/assets/1370401/13036731/5f2586ac-d33d-11e5-916b-81f959333e17.png)

Other that could be added are for example:
The outdoor running track, magnolia field, fowler field, outdoor basketball court, outdoor tennis court

[2016-02-14 22:18] jailby opened #182 "Layer widget size"
In the future we might run into a problem with the size of the layers widget.

If all the layer from the issue #177 are added the widget will be huge.

To avoid this problem we should prepare for it by first implementing a way to manage the size of the widget layer content.

I believe that having a plus/minus "+"/"-" for each layer category to collapse the corresponding category seem a good idea.

[2016-02-15 15:12] barbeau opened #183 "Blue light layer title cascades to next line"
@jmfield2 Looks like the Blue Light Phone layer title is cascading to the next line on mobile:

![image](https://cloud.githubusercontent.com/assets/928045/13052357/759d7a22-d3cc-11e5-9b7b-ab832c351b29.png)

Maybe we use "Blue Light Phones" instead?  Other ideas welcome.

[2016-02-15 15:59] jailby commented on #183
We might want to make the widget larger.

We could have the checkbox in front of two line of text which would describe the entry (instead of coming back to a new line after the checkbox).

[2016-02-15 16:04] barbeau commented on #183
I think I'd prefer to avoid making the box bigger horizontally - it's nice that it currently doesn't block much of the screen.

Allowing two lines of text, with the check box always being to the left of the first line might be a good solution.  So something like:

![image](https://cloud.githubusercontent.com/assets/928045/13053701/dd0b551a-d3d3-11e5-9a3b-9cb7bca01a0d.png)

[2016-02-15 16:13] jailby commented on #183
I don't know what is the easiest in css but does the following also looks good?

![image](https://cloud.githubusercontent.com/assets/1370401/13053904/eef12b78-d3d4-11e5-9692-89169ded8a22.png)

[2016-02-15 16:39] barbeau commented on #183
@jailby From some quick Googling that alignment might actually be more common.

I think the biggest question we need to answer is "do we need a 2nd line of text"?  There is definitely an advantage to forcing layer descriptions to be shorter.  Thoughts?

[2016-02-15 16:51] jailby commented on #183
My thought was that the word "emergency" has a lot of weight here and I believe that removing this key word may hurt the understanding of some people. For a visitor, or few people, the blue light may not ring any bell.

I believe that the "blue light" are explained at orientation, thus we might be able to assume that most people know that these blue lights indicate an emergency phone.
I think "eme

[2016-02-15 16:54] barbeau commented on #183
I agree with this.  Let's see if we can find a nice way to show "Blue Light Emergency Phones" in two lines.

[2016-02-15 17:08] barbeau commented on #178
If we pull this info automatically directly from OpenStreetMap, we'll be somewhat at the mercy of the categorizations there.  IIRC I saw two categories in OSM - "restaurant" and "fast food".  Do you think we could categorize all locations under these two categories?  Or are some of the locations used differently by students?  For example, do the meal plans only cover some locations?

[2016-02-15 18:10] jailby commented on #178
Meal plan are only for [dinning halls](https://usf.campusdish.com/Commerce/Catalog/ShopSubCategory.aspx?category=Spring_2016_Meal_Plans_7858&lid=7858&root=Meal_Plan).

Every meal plans come with a certain amount of dinning dollar that can be used at most USF fast food location as well at the dinning hall themselves. I know that these dinning dollars can be use at Beef 'O' Brady's but I don't know

[2016-02-15 18:52] barbeau commented on #178
Ok, so we should definitely split out the dining halls separately.  We'll need to come up with some way to tag them in OSM, then.

[2016-02-15 21:46] barbeau opened #184 "Add undocumented blue light emergency phone locations"
I asked USF Student Affairs about the blue lights we noticed in the Beard parking garage, and the absence of others in the engineering area, and they said:

So, let's add the ones we know about:
- https://github.com/CUTR-at-USF/usf-mobullity/issues/170#issuecomment-183348599
- https://github.com/CUTR-at-USF/usf-mobullity/issues/170#issuecomment-183443768

... and any others we come across.  We sho

[2016-02-16 14:15] jmfield2 commented on #183
I tried a couple of ways to accomplish this and I think the best way will be to convert the [box] label to use tables instead of the current floating elements..  Another way is to use relative/absolute position tricks but it the layout isn't as consistent as the table method.  There is also 'flexbox' css, but I didn't try that because so far tables I think might be the easiest way to do what we wa

[2016-02-16 14:39] barbeau commented on #183
Tables look good to me.

[2016-02-16 21:34] jailby commented on #184
This has the highest priority? Behind the color changed we talked about?

I believe that parking garages have a blue light for each level of each of their stairwells. I'm not 100% sure but this is the case for the parking garage by cutr. Do you want me to go and physically check some parking garage? What about the Engineering area?
Or do you want me to just update the one by the parking garage and

[2016-02-16 21:36] barbeau commented on #184
You can complete the current color task you are working on, and then do the
additional blue lights. Don't worry about tracking down additional blue
lights, just add the two that we know about.
On Feb 16, 2016 4:34 PM, "jailby" notifications@github.com wrote:

[2016-02-16 23:54] jailby commented on #184
I actually did the blue light first since its an OSM edit while for the rest I need to finish fixing the white space problem.
@jmfield2 you can pull data from OSM, update your branch, and PR.

[2016-02-17 04:04] jmfield2 commented on #159
Yes, I think this can be closed - IIRC the only thing left would be to add more dynamic functionality for locating cars via some API provided by Enterprise, but as of now we aren't aware of any.  If that changes, this can be reopened or split into another issue.

[2016-02-17 04:04] #159 closed, assigned to nobody

[2016-02-17 04:30] jmfield2 commented on #184
:+1:  thanks!

Looks like you added 3, right? (two corners on north side and one on the south of the garage)

If so, ready to merge

[2016-02-17 04:32] jailby commented on #184
Yes! I checked and for this garage there is one for each stairwell.

[2016-02-17 16:48] #184 closed, assigned to jailby

[2016-02-18 21:45] barbeau opened #191 ""X" in Itinerary window is almost impossible to click"
If you plan a trip, for example using this link:
http://maps.usf.edu/?module=planner&fromPlace=(MSC)%20Marshall%20Student%20Center%3A%3A28.0638%2C-82.4135&toPlace=(CUTR)%20Center%20for%20Urban%20Transportation%20Research%3A%3A28.0586%2C-82.4161&time=4%3A36pm&date=02-18-2016&mode=TRANSIT%2CWALK&maxWalkDistance=482.8032&wheelchair=false&arriveBy=false&showIntermediateStops=true&itinIndex=0

...and t

[2016-02-19 05:49] jmfield2 commented on #180
For this, I see a couple of ways to get/maintain the data:

1) Internally, similar to the carshare/blue light phones,
2) Pick the associated buildings (via osm) based on the map and internally tag them,
3) Add some tag to the buildings in OSM and use that to represent the district so that each building could possibly be represented in the respective color.

I think #3 is probably the ideal approac

[2016-02-19 15:49] jailby opened #192 "Context menu don't stay open on Firefox"
I recently noticed a bug that I was able to reproduce only on Firefox (I tried Firefox and Chrome).

Problem:
When right-clicking on the map the context menu opens but only for the time the right click is hold. Once the mouse button is released the context menu disappear.

I believe that the menu should persist. When a user right click on the map the context menu should open and only disappear if

[2016-02-19 16:06] barbeau commented on #192
@jailby I can't reproduce this on Firefox 44.0.2 on Windows 7 Enterprise - right-clicking always opens the context menu.  What platform and version of Linux/Firefox are you using?

[2016-02-19 16:46] cagryInside commented on #192
I tested with my computer and reproduce the problem:
Firefox version 44.0.2, Mac OS X El Capitan 10.11.3

[2016-02-19 16:49] jailby commented on #192
Firefox version 41.0.1, Linux Mint 17.1

[2016-02-19 20:33] #183 closed, assigned to jmfield2

[2016-02-19 22:09] barbeau commented on #192
Possibly a related issue on IE 11.0.9600.18204 on Windows 7 Enterprise and Pro.

If you open the context menu it always responds and opens (i.e., same behavior as Chome), but it looks like this:

![image](https://cloud.githubusercontent.com/assets/928045/13190481/52adcf0a-d72b-11e5-9550-5763e5626441.png)

[2016-02-19 22:36] barbeau commented on #168
Mentioned in today's meeting, and related to handling real-time positioning - the current real-time positioning functionality is driving me crazy.  You constantly have to fight it by default, because when you pan the map yourself it will try to pan back to your real-time location.  And the button toggels map panning on/off, which isn't the behavior of any other major app/website that I'm aware of

[2016-02-25 04:44] jmfield2 opened #195 "Leaflet Locate Control"
This issue deals with the behavior of the locate control button where you must toggle the behavior off/on, and where the default is on which also causes annoying map re-centering if the current location is off screen.

The behavior will change to as follows:
1) Automatic map panning to location is removed,
2) The only way to pan to your location is to click the locate control on the map - one time

[2016-02-25 05:29] barbeau commented on #195
+1

[2016-02-25 14:21] jmfield2 commented on #192
I believe the context menu hiding issue is the result of the way firefox handles the event vs other browsers - there are two at work, one for the contextmenu event, and another global click event that is used to hide the menu whenever the mouse is clicked later.  Both events are triggered on click, resulting in the menu immediately hiding on FF.

RE: js/otp/core/ContextMenu.js, and PopupMenu.js

T

[2016-02-29 03:20] #191 closed, assigned to nobody

[2016-02-29 03:21] #195 closed, assigned to nobody

[2016-03-04 04:29] jmfield2 opened #200 "Mobile UX"
Some of the latest issues reported during the MyUSF app testing were related to UX/mobile responsiveness and the way the site currently doesn't resize/render in a standard way.

Lacking 'pinch to zoom' because text was small being one of the issues

It turns out OTP maintains a separate front-end that might fix many of these issues - https://github.com/conveyal/otp.js

It uses the bootstrap JS/CSS

[2016-03-04 04:32] jmfield2 commented on #110
Turns out we rolled the relevant bits of this into core/Map.js (#195) , so this is no needed anymore.

[2016-03-04 04:32] #110 closed, assigned to nobody

[2016-03-04 14:06] barbeau commented on #200
My understanding is that this site is an OTP client as well, although I don't believe I've looked at it on mobile:
http://www.carfreeatoz.com/planner

[2016-03-04 22:30] barbeau opened #202 "Can't pinch and zoom widget box contents"
From USF UCM:

We should see if we can enable pinch to zoom on the trip planner, layers, and other widgets.

Assigning @jmfield2.

[2016-03-04 22:36] barbeau opened #203 "Add hybrid (satellite + building names) map tile provider"
From USF UCM:

Looks like we might be able to add Google Map hybrid map tiles, although I'm not sure what the license is:
http://stackoverflow.com/questions/23017766/google-maps-tile-url-for-hybrid-maptype-tiles

We could also use Mapbox tiles, both for normal map and hybrid:
https://www.mapbox.com/developers/api/styles/

Their retina tiles look really good on high-res displays.

We'd need to see

[2016-03-04 22:43] barbeau opened #204 "Layer colors need to be updated"
@jmfield2 is working on overhauling the color schemes, which should help with this.  Bus route E is probably the only question here, as that's the official Bull Runner color.  Related to #203, if we end up switching tile providers, as the street color could change.

[2016-03-04 22:45] barbeau opened #205 "Reverse directions button is broken when used before geocoding completes"
From USF UCM:

I believe both of the above are only reproducible if you click the reverse button without completing the geocoding.

@jmfield2 worked on geocoding previously, so probably makes sense for him to tackle this one, as it's similar to the behavior needed to plan a trip if the geocoding doesn't complete first.

[2016-03-04 22:46] barbeau opened #206 ""Plan trip" button style is different from other buttons"
From USF UCM:

We should make all the buttons have the same consistent style.  @jailby do you want to take this one?

[2016-03-04 22:49] barbeau opened #207 "Minimized widgets overlap content from other widgets"
For example, from UCM:

Here's what they are referring to:

![image](https://cloud.githubusercontent.com/assets/928045/13542541/6fbab44e-e231-11e5-91d2-50204b60ac44.png)

In today's meeting we agreed that we'd do a quick fix with z-order now, and later we'll review the behavior of the minimized widgets (possibly not showing the minimized window).

@jailby want to take this one?

[2016-03-04 22:52] barbeau opened #208 "Start/end field buttons don't collapse list when clicked"
From USF UCM:

They are referring to these buttons:

![image](https://cloud.githubusercontent.com/assets/928045/13542600/d5fbea0c-e231-11e5-9854-74b08d945727.png)

[2016-03-04 22:56] barbeau opened #209 "Max walk and max bike field contents aren't validated"
From USF UCM:

In our meeting today we agreed that's its probably best to eliminate the edit text field, and just keep the preset dropdown for both of these fields:

![image](https://cloud.githubusercontent.com/assets/928045/13542660/48128312-e232-11e5-9587-0bafb1d5222e.png)

We'd need to rename the preset dropdown to the selected value.

We should keep the current default values.

[2016-03-04 22:57] barbeau opened #210 "Time and date field contents aren't validated"
From USF UCM:

We should validate the time field value before accepting it.

![image](https://cloud.githubusercontent.com/assets/928045/13542699/935e0062-e232-11e5-9b14-46950677736f.png)

[2016-03-04 23:02] barbeau opened #211 ""Bike safety" field always appears, even for non bike modes"
From USF UCM:

![image](https://cloud.githubusercontent.com/assets/928045/13542768/28db2fac-e233-11e5-85e3-e1adabe66220.png)

We should do two things here:
1. Rename "Bike Safety" to "Prefer bike lanes", and change the selectable values to "Yes" or "No".  We really don't want to get into subjective things like "safety", so having a yes/no option for preferring bike lanes is a better presentation o

[2016-03-04 23:18] barbeau opened #212 "Navigation between Trip Planner widget and Itinerary results aren't intuitive"
From USF UCM:

The itinerary window on mobile can't be moved, and appears like this:

![image](https://cloud.githubusercontent.com/assets/928045/13542818/95b12898-e233-11e5-8c62-f747716ca741.png)

For a short-term fix, today we discussed changing the width of the Itineraries window so it wouldn't cover as much of the map, and staggering the placement a bit to show the Trip Planner widget behind it

[2016-03-04 23:19] barbeau opened #213 "Add USF permit types to geocoded Lot titles"
From USF UCM:

@jmfield2 I think you said you're working on this, related to #179?

[2016-03-04 23:20] barbeau opened #214 "Email isn't linked in "Send feedback" menu"
From USF UCM:

@jailby Want to take this?

[2016-03-04 23:21] barbeau opened #215 "Help widget has wrong name"
From USF UCM:

We should rename the Widget title to "Help" to match what's in the hamburger menu.

@jailby want to take this?

[2016-03-04 23:24] barbeau opened #216 "Widget z-ordering is wrong (layers, trip planner, help and contact)"
From USF UCM:

![image](https://cloud.githubusercontent.com/assets/928045/13543106/32a5a992-e236-11e5-82b9-3e161a60c69c.png)

"Help" and "Send Feedback" appear behind the "Trip Planner" and "Layers" widgets.  They should appear in front.

@jailby want to take this?

[2016-03-07 15:33] jailby opened #217 "Size of "itinerary returned" on small resolution"
The size of the widget "itinerary returned" is too big and some "empty" space within the widget gets created.
On Mobile the widget takes up all the width of the screen.

The code that render this behavior is the [here](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/style.css#L708).

The following is the screenshot of the widget on big resolution:
![image](https://clou

[2016-03-07 15:43] jailby opened #218 "Only selected widget to be present on the map"
Currently, the user can open all the widget at the same time. See the following screenshot:
![image](https://cloud.githubusercontent.com/assets/1370401/13574175/fd3510b4-e450-11e5-9f10-88beaeede833.png)

Related to #167

The menu's behavior should be fixed. When clicking on a menu's button to maximize a widget all the other widget from the menu should be minimized.

This would improve the visibili

[2016-03-07 16:10] jailby opened #219 "Unavailable tiles replaced by gray block"
Sometimes some tiles are unavailable. Thus, the server don't print the image corresponding to the tile and the area is gray.

The code block for the configuration of the tile can be found [here](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/config.js#L50).

I looked into it and the unavailable tile come from subdomain.

Example:
![image](https://cloud.githubus

[2016-03-07 16:16] jailby commented on #215
Done.

[2016-03-07 16:53] barbeau commented on #219
This could also potentially be fixed by switching tile providers, as mentioned in https://github.com/CUTR-at-USF/usf-mobullity/issues/203.

[2016-03-07 17:59] barbeau commented on #203
See also this library for adding more tile providers:
https://github.com/leaflet-extras/leaflet-providers

Here's a demo:
http://leaflet-extras.github.io/leaflet-providers/preview/

[2016-03-07 18:03] jmfield2 commented on #203
Also, it looks like MapQuest offers hybrid maps when you specify 'hyb' in
the tile URL vs map and sat
On Mar 7, 2016 12:59 PM, "Sean Barbeau" notifications@github.com wrote:

[2016-03-07 18:06] jmfield2 commented on #219
I think upstream leaflet issue

https://github.com/Leaflet/Leaflet/issues/3977

Might be related
On Mar 7, 2016 11:53 AM, "Sean Barbeau" notifications@github.com wrote:

[2016-03-07 18:14] barbeau commented on #203
@jmfield2 Ah, nice find.  Let's use 'hyb' to address this issue, and we can move changing tile providers to a new issue.

[2016-03-07 20:53] #192 closed, assigned to nobody

[2016-03-08 19:26] jailby commented on #214
I'm working on this issue and I encountered a "styling" problem.

I used:
`<a href="mailto:barbeau@cutr.usf.edu">Sean Barbeau</a>`

But this is coloring in blue because this is the common way to do so on website. However it does not look good on the USF green:
![image](https://cloud.githubusercontent.com/assets/1370401/13613228/3fca5e32-e539-11e5-8823-23e2b15297f5.png)

Should I change the text co

[2016-03-08 19:40] barbeau commented on #214
I'd change the title to "Send feedback" (to match the menu), and I'd change the body to:

All white, but bold the "Sean Barbeau (barbeau@cutr.usf.edu)".

I don't think copy/paste is needed, as long as clicking/tapping my name/email works.

[2016-03-08 20:24] barbeau commented on #214
Actually, while you're here, let's add a small bit about the open-source project:

[2016-03-09 15:13] jailby commented on #214
I'm having a problem with this. Under chrome the link only open a new window.
From my understanding of the problem my email service under chrome is not setup properly.
I'm not totally sure how to solve this problem yet. I'm looking into it.

Also it is possible to populate some fields for the email like subject and body.
@barbeau Let me know if you want a specific subject (e.g.:"[mobulity] feedbac

[2016-03-09 15:40] jailby commented on #214
I use mainly gmail so I have the problem describe [here](https://developers.google.com/web/updates/2012/02/Getting-Gmail-to-handle-all-mailto-links-with-registerProtocolHandler?hl=en). They give a solution but for the user to fix the problem.

I don't know if there is a lot of people in my case and/or if we need to do something about but I'm stil looking for a solution "server-side".

[2016-03-09 15:42] barbeau commented on #214
@jailby Good idea - let's use "USF Maps feedback" as the subject line.

For body, can you pull attributes from the browser, like platform (Windows vs. Mac, etc, and version), whether it's mobile or not, if they are on cellular or WiFi or hard-wired, and the real-time location of the user?  Our app version, including OTP commit id?  And anything else that might be helpful for troubleshooting?  We s

[2016-03-09 15:44] barbeau commented on #214
@jailby Yes, not sure you can really do much about the desktop mailto issue.  Does it work on mobile?

[2016-03-09 15:48] jailby commented on #214
Ok, I think that's a really good idea.

I'm gonna look into this. I will try to pull each of the following information:
- [x] browser
- [x] OS with version (thus mobile vs desktop)
- [ ] network (cellular, WiFi or wire)
- [ ] location of the user
- [ ] our app version (fetch the commit id)
- [ ] else?

[2016-03-09 15:52] barbeau commented on #214
- [ ] Device type (e.g., Samsung Galaxy S5) too, if that's possible.  This is especially important on mobile.

[2016-03-10 04:56] jmfield2 commented on #203
I've added support for mapquest-style hybrid overlay tiles, and tested the various map options using mapbox.  Note that mapbox does not require the same tile layering that mapquest does (satellite + hybrid) in order to get hybrid maps.

I think the screenshots below illustrate the extent to which mapbox aesthetics beat mapquest in nearly every way.  The pure map style of mapbox does seem a little

[2016-03-10 05:32] barbeau commented on #203
Thanks for trying this out @jmfield2.  Mapbox looks great - only downside I think would be losing some of the building name and abbreviations.  I think we may have some control over Mapbox styling of tiles - for example, see https://www.mapbox.com/blog/custom-styles-mapbox-streets/.  If we can style the building names so they always appear and are a bit more readable in the satellite view, I'd say

[2016-03-10 05:39] barbeau commented on #203
Actually, I believe this is the updated link for Mapbox styles:
https://www.mapbox.com/help/customizing-map-colors/

[2016-03-10 17:08] jailby commented on #214
Update: I was able to get the browser (with its version) and the the OS (with its version). The device type is apparently sometimes included in the browser version.
I'm having trouble to get the lat and long of the user and the app version. I'm still working on it.

The following are the screenshot of the mail application opened by the link for desktop and mobile:
![image](https://cloud.githubuser

[2016-03-10 17:17] barbeau commented on #214
Don't worry about network type or location if those are problematic.
On Mar 10, 2016 12:08 PM, "jailby" notifications@github.com wrote:

[2016-03-10 18:14] jailby commented on #214
@barbeau so do you want me to ship it as it is now?

[2016-03-10 18:47] barbeau commented on #214
Yes - let's format it as follows:

[code]

[2016-03-11 00:00] #203 closed, assigned to jmfield2

[2016-03-11 00:04] jmfield2 opened #223 "Change to MapBox for Map Tile Provider"
Split out from #203

This issue is to investigate switching from the current mapquest tiles to mapbox.  Screenshots in the other issue of progress so far.

[2016-03-11 03:15] #214 closed, assigned to jailby

[2016-03-11 03:15] #215 closed, assigned to jailby

[2016-03-11 14:13] jmfield2 commented on #202
A small screenshot to show how this might work using hammerjs to catch pinch events ...  It still needs to be able to not overflow the window border (top, left) and not break the normal widget behaviors..

Also, the dropdown for e.g the trip start/end is not currently scaled as well.

![screenshot from 2016-03-11 09 07 16](https://cloud.githubusercontent.com/assets/3628509/13704305/2ae79b38-e769-1

[2016-03-11 16:41] jailby commented on #217
Done.

Look on smaller resolution:
![image](https://cloud.githubusercontent.com/assets/1370401/13708703/1f5038b0-e77e-11e5-9f10-190745a3c99c.png)

PR coming up soon.

[2016-03-11 16:44] jailby commented on #212
Done.

The itenerary returned widget appear significantly lower than trip widget to make the user realize that there is two widget and nothing from the information entered in the trip planner widget is lost.

Desktop:
![image](https://cloud.githubusercontent.com/assets/1370401/13708808/8ad400a8-e77e-11e5-858c-09fe93d3e2c5.png)

Mobile:
![image](https://cloud.githubusercontent.com/assets/1370401/13

[2016-03-11 16:59] jailby opened #225 "Send Feedback and Help widget size on mobile"
I thought we talked about this problem but I didn't find an issue about it.

The **height** of the Send Feedback and Help widget on mobile are too big.

Screenshot of the prb:
![image](https://cloud.githubusercontent.com/assets/1370401/13709216/b3eed092-e780-11e5-9a80-5da02fcf462c.png)

Screenshot of the fix:
![image](https://cloud.githubusercontent.com/assets/1370401/13709206/aae1b366-e780-11e5-8

[2016-03-11 17:03] barbeau commented on #225
+1

[2016-03-11 23:41] #212 closed, assigned to jailby

[2016-03-11 23:41] #217 closed, assigned to jailby

[2016-03-11 23:41] #225 closed, assigned to nobody

[2016-03-11 23:43] jmfield2 commented on #213
fixed by https://github.com/CUTR-at-USF/usf-mobullity/commit/c2d2814dc1ed07ea2a878ff0e587cb08eb009435

[2016-03-11 23:43] #213 closed, assigned to jmfield2

[2016-03-12 03:01] jmfield2 commented on #100
Also, see issue #213, and PR #226
https://github.com/CUTR-at-USF/usf-mobullity/blob/c2d2814dc1ed07ea2a878ff0e587cb08eb009435/opentripplanner-geocoder/src/main/resources/org/opentripplanner/geocoder/application-context.xml#L193
to
https://github.com/CUTR-at-USF/usf-mobullity/blob/c2d2814dc1ed07ea2a878ff0e587cb08eb009435/opentripplanner-geocoder/src/main/resources/org/opentripplanner/geocoder/applic

[2016-03-14 14:04] jailby commented on #218
I'm having a bug when I tried to fix this issue.

I just added a commit to show what I did.

The bug is that the property "hide"  is called on undefined object for these lines:

[code]

This is the error message on the console: `Uncaught TypeError: Cannot read property 'hide' of undefined`

This happen only when called at the following points:
https://github.com/jailby/usf-mobullity/commit/b480a69

[2016-03-16 17:24] barbeau opened #227 "Add electric vehicle charging station availability link to map marker"
More info on USF Electric Vehicle Charging stations:
http://www.usf.edu/administrative-services/parking/parking/ev-charging-stations.aspx

Apparently they use a company ChargePoint, which does provide real-time info on availability:
https://na.chargepoint.com/charge_point

At a minimum we should include a link to the above site in our map marker popups.  I'm going to see if I can track down a cont

[2016-03-16 17:24] barbeau commented on #227
Related to the Parking layer - https://github.com/CUTR-at-USF/usf-mobullity/issues/179.

[2016-03-16 17:27] barbeau commented on #179
Apparently USF PATS allows you to pay for certain parking lots via the Parkmobile app now:
http://www.usf.edu/administrative-services/parking/parking/parkmobile.aspx

We should try to include a link to the site for relevant lots (metered, or pay by space?) in the marker popups.  I'll also see if they have a developer API.

Picture of sign outside Beard garage near CUTR:

![image](https://cloud.git

[2016-03-18 01:26] #165 closed, assigned to jailby

[2016-03-18 01:26] #166 closed, assigned to nobody

[2016-03-18 02:35] #205 closed, assigned to jmfield2

[2016-03-18 12:29] jmfield2 commented on #211
The PR makes the tripobjects dropdowns look like these screenshots.  Also note the PR comment that the bike lane control does not follow the same JS pattern, and should probably be changed at some point to do so.

![screenshot from 2016-03-18 08 05 31](https://cloud.githubusercontent.com/assets/3628509/13877796/75fd8dec-ece3-11e5-87b6-378161f1b11f.png)

![screenshot from 2016-03-18 08 05 26](https

[2016-03-18 13:17] jmfield2 opened #231 "BusPositions and BikeStations layer ajax updates"
These two layers can currently be seen polling for data updates every 5s regardless of whether their layer is visible.  They should only use the network when the user requests to see the data.

[2016-03-18 19:12] jailby opened #234 "Spacing in trip planner widget"
The field "Prefer bike lane" is to close to the previous field.

https://cloud.githubusercontent.com/assets/3628509/13877800/760102ec-ece3-11e5-8933-7b7c0f91fec2.png

A margin top on this div field should be added 5px seems reasonable and I believe the other fields have a 5px top margin.

I believe it is [this block of code](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/cli

[2016-03-21 13:16] #231 closed, assigned to nobody

[2016-03-21 13:18] #208 closed, assigned to nobody

[2016-03-21 13:19] #211 closed, assigned to nobody

[2016-03-21 13:36] jailby opened #235 "Minimize button of infowidget"
The widget help and contact can be minimized. This does not help the usability and somewhat obstruct a part of the map when minimized.

The possibility for the user to minimize these widget should be removed. Thus the icon "-" at the top right corner of the widgets need to be removed.

[2016-03-21 13:58] jailby commented on #234
fixed:

![image](https://cloud.githubusercontent.com/assets/1370401/13920864/80075db2-ef4b-11e5-988d-81217447566c.png)

[2016-03-22 02:09] #218 closed, assigned to jailby

[2016-03-22 16:19] jailby commented on #206
Screenshot of the fix:
![image](https://cloud.githubusercontent.com/assets/1370401/13958889/30275c2e-f028-11e5-80e7-430e2da5dcb1.png)

The button "Plan Your Trip" has now the html/css default style instead of the javascript default style.

[2016-03-22 16:29] barbeau commented on #206
Thanks @jailby!  Can you please add this screenshot to the PR as well?

[2016-03-23 13:15] jailby commented on #216
This issue should be closed since we changed the behavior of having only one widget at the time in #218 .

[2016-03-23 13:15] #216 closed, assigned to jailby

[2016-03-24 02:21] #206 closed, assigned to jailby

[2016-03-24 02:21] #234 closed, assigned to jailby

[2016-03-24 14:58] jailby commented on #207
Fixed.

Desktop:
![image](https://cloud.githubusercontent.com/assets/1370401/14020829/31b5a252-f1af-11e5-8c84-09581dac476a.png)

Mobile:
![image](https://cloud.githubusercontent.com/assets/1370401/14020847/4cbf5322-f1af-11e5-9ade-c7801ae87215.png)

[2016-03-24 15:00] barbeau commented on #207
Cool!  Could you make the scroll bar visible on mobile?  And does it scroll on mobile?

[2016-03-24 15:02] jailby commented on #207
Oh yeah sorry the scroll bar is off the screenshot. I'm gonna repost that soon.

[2016-03-24 15:06] jailby commented on #207
I thought the scrollbar was on the right side but there is no scrollbar on mobile actually.

I didn't notice that.

But it's scrollling down fine.

[2016-03-24 15:56] barbeau commented on #207
Ok - per our discussion I think we can still go with this solution.

[2016-03-25 12:11] jmfield2 commented on #227
The undocumented (as far as I can tell) API to see realtime info works like this:

[code]

And returns JSON:

[code]

[2016-03-25 16:45] jailby commented on #209
Here is a screenshot of the solution:
![image](https://cloud.githubusercontent.com/assets/1370401/14048605/b909b064-f285-11e5-971d-aecd4a2a3e2f.png)

A couple things I want to mention about this fix:
1) Since the text field is deleted the user doesn't know that there is a default value that is 0.30 miles.
2) To have "Presets:" as the 'title' of the selector by default it also makes "Preset:" one o

[2016-03-25 16:59] barbeau commented on #209
@jailby You can't automatically set the field to the 0.30 mile option?

[2016-03-25 19:35] jailby opened #238 "Hide widget instead of minimizing them"
**Problem:**
When loading the webservice depending on the hash (#tri, #layer, #map) widgets get minimized.
**Solution:**
use the function hide() instead of minimize() in [this block](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/modules/multimodal/MultimodalPlannerModule.js#L107)

6 lines to change from minimize() to hide()

[2016-03-25 20:07] jailby opened #239 "Times on "itenerary returned" widget are too small"
The times on "itenerary returned" widget are too small:
![image](https://cloud.githubusercontent.com/assets/1370401/14052782/1b9c9832-f2a3-11e5-9446-acdea11d7031.png)

[2016-03-25 20:27] barbeau commented on #239
Here's the exact quote from UCM:

[2016-03-26 02:02] #207 closed, assigned to nobody

[2016-03-26 21:20] jailby opened #240 "Parking lot data"
We received from the parking and transportation services:
[Coordinates for Lots2.xlsx](https://github.com/CUTR-at-USF/usf-mobullity/files/190647/Coordinates.for.Lots2.xlsx)

After a quick glance at it I noticed that the Lot 01 doesn't have the same coordinate in production and on the spreadsheet provided.
Production: `28.060704 -82.412129`
Screenshot of the location:
![image](https://cloud.githubu

[2016-03-27 20:24] barbeau commented on #240
Feel free to stick with our lat/long on production - we don't need to use their exact data.  I think Lot 24B is fine too, I believe we got that from a USF map.  I'd focus more on lots that exist in spreadsheet but not production, like Lot 10.  I think everything else is fine as-is.

[2016-03-28 01:13] jailby commented on #240
Ok thanks.

Also, I wasn't sure of the milestone? Is it for Launch (We probably need to change the date)?

I don't think we should mix in usf ucm.

[2016-03-28 01:21] barbeau commented on #240
Not USF ucm, launch would work for now.

[2016-03-28 16:39] barbeau opened #242 "Bikeshare icon in itinerary summary is hard to see"
If you plan a bikeshare trip, it's very difficult to see the icon in the itinerary results (blue section below):

![image](https://cloud.githubusercontent.com/assets/928045/14083107/ee721bb6-f4e1-11e5-9f22-5ca20e3e6bb9.png)

Above screenshot is zoom in a bit from normal desktop size - when it's smaller it's even more difficult to see.

We should implement a better contrasting icon/background color

[2016-03-28 18:26] barbeau commented on #242
Here's a link that reproduces this on mobullity.forest:
http://mobullity.forest.usf.edu/?module=planner&fromPlace=28.06701965496018%2C-82.40690231323241&toPlace=28.058082339261862%2C-82.41926193237305&time=2%3A25pm&date=03-28-2016&mode=BICYCLE_RENT&maxWalkDistance=482.8032&wheelchair=false&arriveBy=false&showIntermediateStops=true&itinIndex=0

[2016-03-29 15:14] jailby commented on #209
I have to pause my progress so I'm writing it down.
I'm trying to set the selected value of the dropdownbox to the currentMaxDistance.

This line: `$('#'+this.id + '-presets').val(parseFloat(this.currentMaxDistance)+'0 '+this.distSuffix);` should do the work. However, it is not working at the moment.

I made a minimal example thanks to a fiddle:
https://jsfiddle.net/n96zbbwe/

If currentMaxDistanc

[2016-03-29 15:19] jmfield2 commented on #209
I think I fixed the fiddle on /1/ - basically, the options need value= and
Val should use that not + distsuffix
On Mar 29, 2016 11:15 AM, "jailby" notifications@github.com wrote:

[2016-03-29 15:27] jailby opened #243 "Blue light emergency phone marker position"
The marker of the blue light emergency phones are positioned in the center of the image used as a marker.

Since it is a 'buble' :
![image](https://cloud.githubusercontent.com/assets/1370401/14113238/09fd52ec-f5a0-11e5-9b0d-ca9e5379eee3.png)

The position of the image on the map should be the image's bottom center.

It is not the case at the moment on production and it can lead to some confusion b

[2016-03-29 15:41] jailby opened #244 "Bicycle mode does not work properly"
When a use select the mode "Bicycle Only" or "Bus & Bicycle" the indicator in the itinerary returned is the  pedestrian indicator and the path is gray:
![image](https://cloud.githubusercontent.com/assets/1370401/14113748/492e3682-f5a2-11e5-941f-053fca3a42c6.png)

The bicycle mode is the same as walking.

It should be the same than for the mode rented bicycle:
![image](https://cloud.githubuserconte

[2016-03-29 15:44] jailby commented on #209
The fiddle was working. Did it not work for you?

I realized that I didn't mention it but what is not working is the line `('#'+this.id + '-presets').val(parseFloat(this.currentMaxDistance)+'0 '+this.distSuffix);` in my local.

When options don't have a value then the text of the option are set as the value:
http://stackoverflow.com/questions/3644449/jquery-setting-select-list-selected-based-on-te

[2016-03-29 16:11] jmfield2 commented on #243
This should be fixed once my big poi PR is merged later today
On Mar 29, 2016 11:27 AM, "jailby" notifications@github.com wrote:

[2016-03-29 16:13] jailby commented on #243
Oh ok lol. :+1:

I didn't notice it in the PR.

[2016-03-29 16:23] jmfield2 commented on #209
Sorry, yep this worked for me like it was...I didn't check closely enough
lol

Where were you trying to add this in the tripoptionswidget?  Maybe it is
just a context issue and using this_ might fix it..

[2016-03-29 16:32] jailby commented on #209
That's what I was thinking might be the problem.

I tried multiple places.

The place that makes the most sense to me (because its after the layout) is here:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/widgets/tripoptions/TripOptionsWidget.js#L686

I also tried here (because its at the end of initialization):
https://github.com/CUTR-at-USF/usf-mobullity/blob

[2016-03-30 01:26] jmfield2 commented on #167
Related to #120  - screenshot of one possible option to improve itinerary results on _mobile_ by minimizing the itinerary results window so the trip is initially visible on the map.

Another possibility is to revise the itinerary results (on mobile, again) to be small, floating boxes  (on the top left) with icons representing different app shortcuts: itinerary #, back to search, ... so that again

[2016-03-30 04:54] jmfield2 commented on #204
Actually, the issue with route E (especially, but also the other bullrunner routers) I think may be the stroke opacity of the polylines.. They are using the leaflet default, which is 50%.

When this is changed to 90 or 100%, it looks like this, which I think is much better:
![screenshot from 2016-03-30 00 51 16](https://cloud.githubusercontent.com/assets/3628509/14132264/ef45192c-f611-11e5-9888-c9

[2016-03-30 04:55] #204 closed, assigned to jmfield2

[2016-03-30 05:19] jmfield2 commented on #244
So, a partial fix for this is to remove the "Bicycle only" option since it doesn't currently do anything and the bike rental routing is triggered via the "_RENT" modifier on the "Rented bicycle" mode.

The "Bus & Bicycle" problem seems a bit more involved -  Just changing it to TRANSIT,BICYCLE_RENT does not fix the problem.. I either get all walking, or walk+bus itineraries.  At least for rentals,

[2016-03-30 05:27] jmfield2 commented on #242
The problem seems to be here:
https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/modules/planner/ItinerariesWidget.js#L297

I guess it is trying to match the 'mode color' used elsewhere in the trip planner or itinerary ... so, we can either change that color in all places for bike legs, or change the color or style of the middle from blue to gray like the outside..

[2016-04-01 15:07] jailby commented on #243
Fixed by 1ca422903259c905f547d1b55e0f04a989b0b8b2

[2016-04-01 15:07] #243 closed, assigned to nobody

[2016-04-01 15:15] jailby commented on #209
So what I was doing was right but I didn't know about `toFixed(2)`, which solves the problem I had: http://www.w3schools.com/jsref/jsref_tofixed.asp

Thanks @jmfield2 for letting me know about this function.

Here is a screenshot of the dropdown list already set to the default max distance:
![image](https://cloud.githubusercontent.com/assets/1370401/14211257/019a4da0-f7fb-11e5-97f1-227f75c383e7.pn

[2016-04-01 15:32] barbeau commented on #209
:+1: Looks good!

[2016-04-04 15:42] jailby commented on #210
The block of code at [this location](https://github.com/CUTR-at-USF/usf-mobullity/blob/mobullityrebase/src/client/js/otp/widgets/tripoptions/TripOptionsWidget.js#L412) transform the time entered into the input field into the am/pm format. Thus if the user uses the 24 hours format it will automatically be changed to the 12 hours format.

However, it is possible to enter values greater than 24 (e.g.

[2016-04-05 20:48] jailby commented on #240
Data received from Donna Giammaresi.

More missing parking:
- [x] Lot Life Science Annex `28.061324 -82.417347` **(this is state vehicle only. This shouldn’t exist on your map.)**
- [x] Lot Lifsey - `28.055898 -82.411317` **(guest to the presidents house. This shouldn’t exist on your map.)**
- [x] Lot Sago Drive - `28.059499 -82.411515` **(departmental reserved only. This shouldn’t exist on your m

[2016-04-06 13:08] jmfield2 commented on #227
Fixed by ebcc1fe0805fe5cb981242138caeada4eeae5f7d

[2016-04-06 13:08] #227 closed, assigned to nobody

[2016-04-06 13:11] jmfield2 opened #248 "Add electric vehicle charging station realtime availability and information to popup"
Originally #227

More info on USF Electric Vehicle Charging stations:
http://www.usf.edu/administrative-services/parking/parking/ev-charging-stations.aspx

Apparently they use a company ChargePoint, which does provide real-time info on availability:
https://na.chargepoint.com/charge_point

The undocumented (as far as I can tell) API to see realtime info works like this:

[code]

And returns JSON:

[2016-04-06 15:18] jailby commented on #210
Screenshot of the popup indicating the user that the time is not correct:

![image](https://cloud.githubusercontent.com/assets/1370401/14321566/b9779622-fbe7-11e5-95b3-6a7db7f6203b.png)

This popup is trigger when the time value is changed. Which means that the user can discard the information in the popup and still try to plan a trip.

Maybe for consistency with the popup that appear when the sta

[2016-04-06 18:18] barbeau commented on #210
Looks good!  I'd make a slight change to the message:

I would trigger the validation when the time value is changed, but when detecting the invalid time, I'd change the time value back to the previous time (which I believe by default is "now").  So, the user will be forced to always plan a trip with a valid time.

[2016-04-06 19:14] jailby commented on #210
I changed the text.

I also made this popup triggered if the user tries to plan a trip with an invalid time.

So right now it works as follow:
If a user writes an invalid time the popup appear (which is basically a warning).
The user can discard the popup and still hit the button "Plan Your Trip". If the time is still invalid the popup appear again and the trip is not planned.

I think this soluti

[2016-04-06 19:56] barbeau commented on #210
Ok, the above sounds fine.

[2016-04-07 23:52] #209 closed, assigned to nobody

[2016-04-08 19:47] jailby commented on #240
When a parking lot has two names both should be present as a single entry in the Geocoder.

However in the layer only the English designation should be used instead of the numbered designation.

We are also waiting on Donna to have more information about the last parking lot data.

[2016-04-08 19:53] jailby opened #249 "Postal services and mailboxes (USPS/FedEx/UPS)"
Having information about postal services an mailbox on/around campus would be usefull.

First we need to find all the data available. There is some mailbox available on campus. Maybe some services on campus has a record of it.
I found the following link but I don't think the data is complete: http://www.mailboxmap.com/

Then, this data need to be added to OSM and/or the Geocoder. The way to add th

[2016-04-08 21:32] barbeau commented on #249
My opinion - we should add these to the Geocoder and OSM first, but should wait to add a mail map layer until we have a collapsible left layers panel.

[2016-04-12 17:19] barbeau opened #252 "Layers widget - electric car charging text cascades to next line"
See below - this is from an LG G4 w/ Android 6.0 using Chrome:

![image](https://cloud.githubusercontent.com/assets/928045/14469140/34a9cf7c-00b1-11e6-8e67-e9c4c0946a3f.png)

[2016-04-13 03:25] jmfield2 commented on #244
So, I tried the tag closest to our master version (0.12.0) released back in November 2014, and was surprised to find the bike only mode working.  Although the diff was still pretty big, I diff the entire src/main and searched for "BICYCLE" and found some comments that stood out:

https://github.com/opentripplanner/OpenTripPlanner/blob/master/src/main/java/org/opentripplanner/api/parameter/Qualifie

[2016-04-13 03:28] jailby commented on #244
That's pretty nice :+1:

[2016-04-13 03:36] #244 closed, assigned to nobody

[2016-04-13 03:36] #238 closed, assigned to nobody

[2016-04-14 01:12] #210 closed, assigned to nobody

[2016-04-14 03:56] #252 closed, assigned to jmfield2

[2016-04-14 14:28] jailby commented on #235
Screenshots in the PR #256

[2016-04-14 16:01] jailby opened #257 "Geocoder behavior with whitespace"
The problem is hard to explain so I recommend to directly look at the screenshots to see the difference and refer to the summary for more detailed explanation.

**Problem summary:** If a user enter _a part_ of a building name, e.g., "administration",  it will receive all entries that contain this _part_ in the geocoder. However, if the user add a space, e.g., "administration " at the end of this _

[2016-04-14 16:40] barbeau commented on #257
So I guess potential solutions would be to a) trim any whitespace before trying to match what the user entered, or b) add whitespace after the hard-coded entries.  a) seems like the better option.

Any other ideas?

[2016-04-14 19:55] jmfield2 commented on #257
I agree, the best way to fix this is probably to trim the input before it gets sent to the geocoder.  It would be nice to support selectively disabling this somehow like using "quotes" to still search for words including a trailing space, if that is what the user intended to do

[2016-04-15 18:42] jailby commented on #143
This should not be a problem anymore because of the behavior change for interaction between widgets.

The behavior problem is describe here:
https://github.com/CUTR-at-USF/usf-mobullity/issues/218

[2016-04-15 18:42] #143 closed, assigned to jailby

[2016-04-15 18:58] jmfield2 commented on #239
related to #242 #202

[2016-04-15 19:04] #235 closed, assigned to jailby

[2016-04-15 19:04] #202 closed, assigned to jmfield2

[2016-04-19 14:52] jailby commented on #239
The following is a screenshot of the fix:
![image](https://cloud.githubusercontent.com/assets/1370401/14643531/b7f7b798-061c-11e6-8bde-52583fbd39ce.png)

[2016-04-19 15:10] barbeau commented on #239
Thanks!  Looks like something strange may be happening though with the time cutting into the pedestrian logo in the 2nd itinerary beginning time?  Also, have you looked on mobile?

[2016-04-19 15:44] jailby commented on #239
Yes this is one of the problem I need to mention during the meeting. This PR fix the size of the time issue only to finish UCM milestone. I believe that after this PR we can contact them to tell them that we are done with the document they sent us.

However, by doing this change I noticed two issue that I want to talk about during the meeting (its my note in my previous comment).

Example of the p

[2016-04-21 14:03] jailby commented on #223
I was able to use one their default map. Screenshot:

![image](https://cloud.githubusercontent.com/assets/1370401/14711534/a54f3288-07a7-11e6-84a6-e1f12e38ae8f.png)

I was also able to create a new style with the mapbox editor tool:
![image](https://cloud.githubusercontent.com/assets/1370401/14711584/d4aba94e-07a7-11e6-98b6-4726e450cbb0.png)

The editor tools seem really powerful. I played whit it

[2016-04-21 14:10] barbeau commented on #223
Cool!  I think to see a custom style in the app it has to be created under the same account as the map API key.  So to test you can either switch to your own API key or I can create the same style under my account, if you share the map CSS.

As far as customization, for now I think the only thing we will want to change from the default is to add building names - I believe this is the only thing th

[2016-04-21 14:40] jailby commented on #223
Yes in the designer tool, it is possible to get the map tiles url and the map API key.

For the custom map that will go on production, I think that it should be a map from your account with your API key.

The designer tools has the possibility to share map. Someone can modify the style of the current production and then propose his/her new style. This could work in a similar way than Github (witho

[2016-04-22 19:12] barbeau commented on #223
For quotas, here's a summary of what we get on MapQuest vs. MapQuest:
- **MapQuest** - Free plan - 15,000 transactions/month for free.  This includes both map tile requests and geocoding requests - we're currently using MapQuest for both.
- **Mapbox** - Standard plan (free for us via educational discount) - 100k map views or 75k mobile users / month, 5GB storage | 20 styles

So it seems switching

[2016-04-25 14:36] jailby opened #260 "Trip summary color depending on the mode"
In the "itinerary returned" widget there is a trip summary at the top showing, through logos, the modes (walk, bus, bicycle)  that the user will have to take to follow the trip.

The background for these logos is different for depending on the mode:
Walk: gray
Bicycle: Blue
Bus: Green

This problem need to be fixed for the following mode:
- [ ] Bycicle
  Bicycle should be change to be the same as

[2016-04-25 15:22] jailby opened #261 "Wrong size of the trip summary in "itinerary returned" widget"
The size of the trip summary in the "itinerary returned" widget vary and sometimes the mode is not visible enough.

Screenshot of the trip summary in "itinerary returned" widget:
![image](https://cloud.githubusercontent.com/assets/1370401/14788288/3fc0c37e-0ad5-11e6-80b1-49e797fbb1ff.png)

In the following screenshot you can see that the logo for the bus mode is a bus followed by the letter corres

[2016-04-25 15:37] jailby opened #262 "Unecessary log in the console"
There is some information that is printed in the console via `console.log()`.

I noticed the following one:
![image](https://cloud.githubusercontent.com/assets/1370401/14789331/0264d484-0ada-11e6-95c1-0f8a448a7cb1.png)

So I decided to use grep to find out more. I used this command: `grep -rnw "src/client/js/otp/" -e "console.log"` from which the result doesn't fit in my screen:
![image](https://c

[2016-04-25 16:17] jailby opened #263 "Geolocation is broken on Chrome - requires HTTPS"
The following error message is displayed in the console:

![image](https://cloud.githubusercontent.com/assets/1370401/14790486/85bc9ec0-0adf-11e6-9cb6-89b55d94c12a.png)

text:
getCurrentPosition() and watchPosition() are deprecated on insecure origins, and support will be removed in the future. You should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rSt